---
layout: home
permalink: /
title: Zensei - App Diario para Respirar Mejor
description: Si tienes problemas respiratorios, te ayudamos a respirar mejor.
---

{% include home/slide1.html %} 
{% include home/slide2.1.html %} 
{% include home/slide2.2a.html %} 
{% include home/slide2.2b.html %} 
{% include home/slide2.2c.html %} 
{% include home/slide3.html %} 
{% include home/slide4.html %}

<h1 class="title-big center" style="margin-top: 80px;">
  <strong
    >¿Cómo ayuda nuestra tecnología al cuidado de tu
    <br />
    salud respiratoria?</strong
  >
</h1>

{% include home/slide5a.html %}
{% include home/slide5b.html %} 
{% include home/slide6.html %}

<div class="container-main" style="margin-top: 100px;">
  <h1 class="title-big center"  style="margin-bottom: 0;">
    <strong>Mejora tu salud respiratoria</strong>
  </h1>
  <div class="center">
    <a
    class="action-btn home--button center"
    target="_blank" rel="noopener noreferrer" href="{{ "/" | relative_url }}"
    onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
    >Quiero respirar mejor  <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
    </a>
  </div>
</div>

{% include home/slide7a.html %}
{% include home/slide7b.html %}