---
permalink: /sintomas-respiratorios-mapa
title: 🚨 Descubre si hay personas con síntomas respiratrorios cerca de ti
description: Descárgate Zensei. La App para cuidar de tu salud respiratoria.
---
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />   
    <link rel="stylesheet" href="assets/css/map.css"> 
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
    {% include sticky-cta.html %}
  
    <div id="map">
      <p class="over_map" id="count" ></p>
      <p id="count-copy">Personas con Síntomas Respiratorios</p>
      <p class="over_map" id="time"></p>
    </div>
    <br>
    <br>
    <div class="container-narrow">
      <h1 class="post-title center">
        <strong>Descubre si hay síntomas respiratorios en tu zona</strong>
      </h1>
      <div class="row">
        {% capture p2 %}{% include map-content.md %}{% endcapture %}
        {{ p2 | markdownify }}
      </div>
    </div>
    {% include app-cta-landing.html %}
    <br>
    {% include share.html %}

    {% include blog-recommendations.html %}

    {% include share.html %}

    <br>
    {% include footer.html %}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> 
    <script src="assets/js/animate-numbers.js"></script>  
    <script src="assets/js/symptoms-map.js"></script>

    {% include lazyload.html %}
  </body>
</html>