---
permalink: /sintomas-respiratorios-mapa
title: 🚨 Descubre si hay personas con síntomas respiratrorios cerca de ti
description: Descárgate Zensei. La App para controlar tus síntomas respiratorios y proteger a tus seres más queridos.
---
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />   
    <link rel="stylesheet" href="assets/css/map.css"> 
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
    {% include sticky-cta.html %}

    <div id="map">
        <h1 class="over_map" id="count" ></h1>
        <p id="count-copy">Personas con Síntomas Respiratorios</p>
      <h1 class="over_map" id="time"></h1>
    </div>
    <br>
    <div class="container center padding-vertical">
      <h2 class="post-title">
        <strong>Descubre si hay síntomas respiratorios en tu zona</strong>
      </h2>
      {% include map-content.html %}
    </div>

    {% include blog-recommendations.html %}

    {% include footer.html %}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> 
    <script src="assets/js/animate-numbers.js"></script>  
    <script src="assets/js/symptoms-map.js"></script>

    {% include lazyload.html %}
  </body>
</html>