<section class="social-card">
    <section id="social-card-1" class="invisible">
        <div>
            <h5>
                ¿Qué dicen los usuarios de zensei app?
            </h5>
            <p >
                “Es genial para seguir un control de mis crisis respiratorias y de asma”
            </p>
            <a
            class="action-btn"
            href="https://wgji.app.link/fIu9tK3PMO"
            onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta');"
            >Probar app gratis
            </a>
        </div>
    </section>

    <section id="social-card-2" class="invisible">
        <div>
            <h5>
                ¿Qué dicen los usuarios de zensei app?
            </h5>
            <p >
                “Gracias a la App, ahora puedo entender más el problema de rinitis alérgica que tengo desde hace años y saber los niveles de polen en tiempo real.”
            </p>
            <a
            class="action-btn"
            href="https://wgji.app.link/fIu9tK3PMO"
            onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta');"
            >Probar app gratis
            </a>
        </div>
    </section>


    <section id="social-card-3" class="invisible">
        <div>
            <h5>
                ¿Qué dicen los usuarios de zensei app?
            </h5>
            <p >
                “Llevo más o menos 6 meses, pero me ha ayudado mucho. Me es más fácil hablar de mis síntomas con el médico y así seguir un mejor plan. Gracias por su aplicación, es de gran ayuda.”
            </p>
            <a
            class="action-btn"
            href="https://wgji.app.link/fIu9tK3PMO"
            onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta');"
            >Probar app gratis
            </a>
        </div>
    </section>

    <section id="social-card-4" class="invisible">
        <div>
            <h5>
                ¿Qué dicen los usuarios de zensei app?
            </h5>
            <p >
                “Hola, quiero agradecer por su app, recién tuve problemas para respirar ya que me diagnosticaron bronquitis crónica. Me asustó mucho pues todas las noches sentía que me faltaba el aire. Buscando consejos me encontré con su aplicación, a partir de entonces me siento acompañada, leo sus reportaje y sigo sus consejos. Gracias”
            </p>
            <a
            class="action-btn"
            href="https://wgji.app.link/fIu9tK3PMO"
            onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta');"
            >Probar app gratis
            </a>
        </div>
    </section>

    <section id="social-card-5" class="invisible">
        <div>
            <h5>
                ¿Qué dicen los usuarios de zensei app?
            </h5>
            <p >
                “Soy médico de profesión, y la verdad que la aplicación me parece súper interesante. Aborda el tema de los factores de riesgo desde una perspectiva interesante y práctica; sin dudas la recomiendo 100x100.”
            </p>
            <p class="author">Grethel Fernández</p>
            <a
            class="action-btn"
            href="https://wgji.app.link/fIu9tK3PMO"
            onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta');"
            >Probar app gratis
            </a>
        </div>
    </section>

    <section id="social-card-6" class="invisible">
        <div>
            <h5>
                ¿Qué dicen los usuarios de zensei app?
            </h5>
            <p >
                “Acabo de salir del hospital tras varios broncoespasmos por asma severo. Es la primera y espero la última vez que me pasa. Encontré esta app y me está resultando de mucha utilidad, además están ampliándola con muchas más funciones. Maravillosa, espero me ayude con el control del asma. Le doy 5 estrellas.”
            </p>
            <p class="author">Rosa Perlam </p>
            <a
            class="action-btn"
            href="https://wgji.app.link/fIu9tK3PMO"
            onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta');"
            >Probar app gratis
            </a>
        </div>
    </section>
</section>