<div class="top-banner" id="topBanner">
  <div class="container">
    <!-- <a class="close" href="">&times;</a> -->
    <h2 class="post-title">
      <strong>Descubre qué síntomas respiratorios hay cerca de tu casa</strong>
    </h2>
    <p>Sigue la epidemia de CORONAVIRUS</p>
    <a
      class="main-cta-top shake"
      href="/sintomas-respiratorios-mapa"
      style="text-decoration: none; color: white;"
      onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta-map');"
      >QUIERO SABER MÁS</a
    >
  </div>
</div>
