<header class="blog-header" >

  <div class="wrapper">
  	<a target="_blank" rel="noopener noreferrer" href="{{ "/" | relative_url }}"><div class="logo">zensei</div></a>
    <a class="blog-header__logo" target="_blank" rel="noopener noreferrer" href="{{ "/blog/" | relative_url }}">Blog</a>

    <div class="blog-header__actions">
        <a id="landing" class="pull-right blog-header__secondary-cta" target="_blank" rel="noopener noreferrer" href="/asma/">Asma</a>
        <a id="landing" class="pull-right blog-header__secondary-cta" target="_blank" rel="noopener noreferrer" href="/epoc/">Epoc</a>
        <a id="landing" class="pull-right blog-header__secondary-cta" target="_blank" rel="noopener noreferrer" href="/alergia/">Alergia</a>
        <a id="landing" class="pull-right blog-header__secondary-cta" target="_blank" rel="noopener noreferrer" href="/gripe/">Gripe</a>
    </div>

  </div>

</header>
