<div class="main-footer">
  <div class="container">
    <a
      class="contact-link"
      target="_blank"
      rel="noopener noreferrer"
      href="mailto:hola@zenseiapp.com"
      >hola@zenseiapp.com</a
    >
    <ul class="legal-menu">
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="/politica-cookies/"
          >Política de cookies</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="/politica-privacidad.html"
          >Política de privacidad</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="/salud-digital-respiratoria/"
          >Empresas</a
        >
      </li>
      <li>
        <a target="_blank" rel="noopener noreferrer" href="/blog/">Blog</a>
      </li>
      <li>
        <a target="_blank" rel="noopener noreferrer" href="/sobre-nosotros/"
          >Sobre nosotros</a
        >
      </li>
    </ul>
  </div>
</div>

<link rel="stylesheet" target="_blank" rel="noopener noreferrer" href="{{
"/assets/main.css" | relative_url }}">
<link
  rel="stylesheet"
  target="_blank"
  rel="noopener noreferrer"
  href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
  integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
  crossorigin="anonymous"
/>
<link
  target="_blank"
  rel="noopener noreferrer"
  href="https://fonts.googleapis.com/css?family=Palanquin+Dark%7CSource+Sans+Pro:400,600,700"
  rel="stylesheet"
/>

<!-- jQuery - required but can be moved to the <head> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script async type="text/javascript" src="/assets/js/app.js"></script>
