<header class="header" id="storytelling">
  <div class="header-container ">

    <a target="_blank" rel="noopener noreferrer" href="{{ "/" | relative_url }}">
      <div class="zensei-logo-header"></div>
    </a>
   
   <div style="display: flex; align-items: center;">
      <nav class="home--header__nav">
        <a target="_blank" rel="noopener noreferrer" href="/salud-digital-respiratoria/">Empresas</a>
        <a target="_blank" rel="noopener noreferrer" href="/blog/">Blog</a>
      </nav>
      <a
      style="margin-left: 2rem; margin-bottom: 0;"
      class="action-btn"
      target="_blank" rel="noopener noreferrer" href="https://wgji.app.link/fIu9tK3PMO"
      onclick="ga('send', 'event', 'buttons', 'click', 'cta-header');"
      >Descargar app</a>
    </div>
  </div>
</header>
