<div class="top-banner" id="topBanner">
  <div class="container">
    <!-- <a class="close" target="_blank" rel="noopener noreferrer" href="">&times;</a> -->
    <h2 class="post-title">
      <strong
        >3 errores que NO deberías cometer para evitar el CORONAVIRUS</strong
      >
    </h2>
    <p>
      Descubre cuales son para evitar contagiarte y cuidar tu salud respiratoria
    </p>
    <a
      class="main-cta-top shake"
      target="_blank"
      rel="noopener noreferrer"
      href="/errores-salud-respiratoria"
      style="text-decoration: none; color: white;"
      onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta');"
      >QUIERO RESPIRAR MEJOR</a
    >
  </div>
</div>
