<div class="top-banner" id="topBanner">
  <div class="container">
    <!-- <a class="close" target="_blank" rel="noopener noreferrer" href="">&times;</a> -->
    <h2 class="post-title">
      <strong
        >No poder respirar bien es horrible. Te ayudamos.</strong
      >
    </h2>
    <p>
      Cuidamos de tu salud respiratoria con nuestra clínica virtual respiratoria. 
    </p>
    <a
      class="action-btn shake"
      href="/"
      style="text-decoration: none; color: white;"
      >QUIERO RESPIRAR MEJOR</a
    >
  </div>
</div>
