<header class="blog-header">

  <div class="wrapper">
  	<a href="/"><div class="logo">zensei</div></a>
    <a class="blog-header__logo" href="{{ "/blog/" | relative_url }}">Blog</a>

    <div class="blog-header__actions">
      <a class="main-cta-top main-cta--blog" href="https://wgji.app.link/fIu9tK3PMO" 
       onclick="ga('send', 'event', 'post', 'click', 'top-app-cta');">Instalar Zensei</a>
      <a id="landing" class="pull-right blog-header__secondary-cta" href="/">¿Qué es Zensei?</a>
    </div>

  </div>

</header>
