<header class="blog-header" id="blog-header">

  <div class="wrapper">
  	<a href="{{ "/" | relative_url }}"><div class="logo">zensei</div></a>
    <a class="blog-header__logo" href="{{ "/blog/" | relative_url }}">Blog</a>

    <div class="blog-header__actions">
      <a class="main-cta-top main-cta--blog shake" href="https://wgji.app.link/fIu9tK3PMO" 
       onclick="ga('send', 'event', 'post', 'click', 'top-app-cta');">Quiero respirar mejor</a>
       <!-- <a id="landing" class="pull-right blog-header__secondary-cta" href="/">¿Qué es Zensei?</a> -->
    </div>

  </div>

</header>
