<br>
<br>
<div class="container center padding-vertical">
  <h2><b>Últimos artículos en nuestro blog<b></h2>
</div>
<div>
  <ul class="factors">
  {% assign posts = site.posts %}
  {% for item in posts limit:9 %}
     <li>
      <div class="card">
        <img src="{{ item.image }}" alt="" height="200" width="100%" />
        <a href="{{ item.url }}">
          <div class="text-block">
            <h1 style="position: absolute; text-align: left; bottom: 6px; padding-right: 6px; padding-left: 15px">
              <b>{{ item.title }}</b>
            </h1>
          </div> 
        </a>
    </div>
    </li>
  {% endfor %}
  </ul>
</div>