<header class="blog-header" >

  <div class="wrapper">
  	<a href="{{ "/" | relative_url }}"><div class="logo">zensei</div></a>
    <a class="blog-header__logo" href="{{ "/blog/" | relative_url }}">Blog</a>

    <div class="blog-header__actions">
        <a id="landing" class="pull-right blog-header__secondary-cta" href="/app-asma">Asma</a>
        <a id="landing" class="pull-right blog-header__secondary-cta" href="/app-epoc">Epoc</a>
        <a id="landing" class="pull-right blog-header__secondary-cta" href="/app-alergia">Alergia</a>
        <a id="landing" class="pull-right blog-header__secondary-cta" href="/app-gripe">Gripe</a>
    </div>

  </div>

</header>
