<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"
></script>
<script
  defer
  src="/assets/js/hamburguer-menu.js"
></script>

{% if page.layout == "corporate" %}
<script
  defer
  src="https://cdn.eu-central-1.pipedriveassets.com/web-form-assets/webforms.min.js"
></script>
<script
  defer
  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
></script>
<script
  defer
  type="text/javascript"
>
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = "EMAIL";
    ftypes[0] = "email";
    /*
      * Translated default messages for the $ validation plugin.
      * Locale: ES
      */
    $.extend($.validator.messages, {
      required: "Este campo es obligatorio.",
      remote: "Por favor, rellena este campo.",
      email: "Por favor, escribe una dirección de correo válida",
      url: "Por favor, escribe una URL válida.",
      date: "Por favor, escribe una fecha válida.",
      dateISO: "Por favor, escribe una fecha (ISO) válida.",
      number: "Por favor, escribe un número entero válido.",
      digits: "Por favor, escribe sólo dígitos.",
      creditcard: "Por favor, escribe un número de tarjeta válido.",
      equalTo: "Por favor, escribe el mismo valor de nuevo.",
      accept: "Por favor, escribe un valor con una extensión aceptada.",
      maxlength: $.validator.format(
        "Por favor, no escribas más de {0} caracteres."
      ),
      minlength: $.validator.format(
        "Por favor, no escribas menos de {0} caracteres."
      ),
      rangelength: $.validator.format(
        "Por favor, escribe un valor entre {0} y {1} caracteres."
      ),
      range: $.validator.format(
        "Por favor, escribe un valor entre {0} y {1}."
      ),
      max: $.validator.format(
        "Por favor, escribe un valor menor o igual a {0}."
      ),
      min: $.validator.format(
        "Por favor, escribe un valor mayor o igual a {0}."
      ),
    });
  })(jQuery);
  var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->
<!-- jQuery 2.x does not support Internet Explorer 6, 7, or 8 -->

<script
  defer
>
  function equalheight(container) {
    var currentTallest = 0,
      currentRowStart = 0,
      rowDivs = new Array(),
      $el,
      topPosition = 0;
    $(container).each(function () {
      $el = $(this);
      $($el).height("auto");
      topPostion = $el.position().top;

      if (currentRowStart != topPostion) {
        for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
          rowDivs[currentDiv].height(currentTallest);
        }
        rowDivs.length = 0; // empty the array
        currentRowStart = topPostion;
        currentTallest = $el.height();
        rowDivs.push($el);
      } else {
        rowDivs.push($el);
        currentTallest =
          currentTallest < $el.height() ? $el.height() : currentTallest;
      }
      for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
        rowDivs[currentDiv].height(currentTallest);
      }
    });
  }

  $(window).on("load", function () {
    equalheight(".factors li");
  });

  $(window).resize(function () {
    equalheight(".factors li");
  });
</script>
{% endif %}


{% if page.layout == "checkout" %}
<script
  src="https://js.stripe.com/v3/"
></script>
<script
  async
  src="/assets/js/checkout.js"
></script>
{% endif %}


{% if page.layout == "post" %}
<script
  defer
  src="/assets/js/social-cards.js"
></script>
<script
  defer
  src="/assets/js/sticky-cta.js"
></script>
{% endif %}


{% if page.layout == "search" %}
<script
  defer
  src="/assets/js/search.js"
></script>
{% endif %}

{% if page.name == "home.html" %}
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
  integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
  crossorigin="anonymous"
></script>
<script
  defer
  src="/assets/js/home.js"
></script>
{% endif %}
