<div class="top-banner" id="topBanner">
	<div class="container">
		<a class="close" href="">&times;</a>
		<h2 class="post-title">
			<strong>Empieza a Respirar Mejor Hoy</strong>
		</h2>
		<p>Consigue remedios y consejos para evitar los horribles síntomas repiratorios con nuestra App Diario de Salud Respiratoria</p>
		<div>
			<a onclick="ga('send', 'event', 'post', 'click', 'sticky-cta');" href='https://play.google.com/store/apps/details?id=com.zenseiapp.medicaljournal&referrer=utm_source%3Dzenseiapp%26utm_medium%3Dblog' >
				<img src="/assets/img/google-play-badge.png" height="50" >
			</a>
			<a onclick="ga('send', 'event', 'post', 'click', 'sticky-cta');" href='https://itunes.apple.com/us/app/zensei-diario-de-salud/id1364876863?ls=1&mt=8' >
				<img src="/assets/img/iphone-badge.svg" height="35" >
			</a>
		</div>
	</div>
</div>