<footer style="margin-top: -15vh;">

  <div class="bckg-img--full-width home--footer__wave">
    <div class="home--footer__wave-content">
      <h2 class="home--footer__wave-title center" >¿Quieres respirar mejor?</h2>
      <div class="center">
        <a
        class="action-btn center"
        rel="noopener noreferrer" href="https://wgji.app.link/fIu9tK3PMO"
        onclick="ga('send', 'event', 'buttons', 'click', 'cta-footer');"
        >Si, quiero respirar mejor</a
        >
        <br />
        <a
        class="secondary-btn center"
        rel="noopener noreferrer" href="mailto:hola@zenseiapp.com?subject=Hola equipo de Zensei&body=Quería saber..."
        >Contáctanos <span class="fa fa-chevron-right" aria-hidden="true"></span></a
        >
      </div>
    </div>
  </div>

  <div class="home--footer__nav">
      <a class="home--footer__logo" rel="noopener noreferrer" href="{{ "/" | relative_url }}">
        <div class="zensei-logo"></div>
      </a>
      <div class="home--footer__nav-container">
        <div >
          <h4 class="home--footer__nav-label">Más información</h4>
          <nav class="flex-column">
            <a rel="noopener noreferrer" href="/prensa">Sala de prensa</a>
            <a rel="noopener noreferrer" href="/sobre-nosotros/">Sobre nosotros</a>
            <a rel="noopener noreferrer" href="mailto:hola@zenseiapp.com">Contacto</a>
          </nav>

          <h4 class="home--footer__nav-label">Legal</h4>
          <nav class="flex-column">
            <a rel="noopener noreferrer" href="/aviso-legal-web/">Condiciones generales</a>
            <a rel="noopener noreferrer" href="/politica-privacidad-web/">Política de privacidad</a>
          </nav>
        </div>
        <div>
            <h4 class="home--footer__nav-label">Síguenos en</h4>
            <nav class="flex">
              <a
                rel="noopener noreferrer"
                href="https://twitter.com/zensei_app"
                style="width: 43px; margin-right: 23px;"
              >
                <span class="fab fa-twitter" aria-hidden="true"</span>
              </a>
              <a
                rel="noopener noreferrer"
                href="https://www.linkedin.com/company/zensei-app/"
                style="width: 43px; margin-right: 23px;"
              >
                <span class="fab fa-linkedin" aria-hidden="true"</span>
              </a>
              <a
                rel="noopener noreferrer"
                href="https://www.instagram.com/zenseiapp/"
                style="width: 43px; margin-right: 23px;"
              >
                <span class="fab fa-instagram" aria-hidden="true"</span>
              </a>
              <a
                rel="noopener noreferrer"
                href="https://www.facebook.com/zenseiapp"
                style="width: 43px; margin-right: 23px;"
              >
                <span class="fab fa-facebook" aria-hidden="true"</span>
              </a>
            </nav>
        </div>
      </div>

  </div>
</footer>
