<div class="main-footer">
  <div class="container">
    <a class="contact-link" href="mailto:hola@zenseiapp.com">hola@zenseiapp.com</a>
    <ul class="legal-menu">
      <li><a href="/politica-cookies.html">Política de cookies</a></li>
      <li><a href="/politica-privacidad.html">Política de privacidad</a></li>
      <li><a href="/salud-digital-respiratoria/">Empresas</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/sobre-nosotros/">Sobre nosotros</a></li>
    </ul>
  </div>
</div>

<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark%7CSource+Sans+Pro:400,600,700" rel="stylesheet">

<!-- jQuery - required but can be moved to the <head> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Search script - Must appear after template -->
<script src="/assets/js/search.js"></script>

<script async type="text/javascript" src="/assets/js/app.js"></script>


  
