<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#f58888">

  <!-- For Facebook -->
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} {% else %}{{ site.title | escape }}{% endif %}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{% if page.img %}{{ page.img | escape }} {% else %}https://zenseiapp.com/zensei.png{% endif %}"/>
  <meta property="og:url" content="{% if page.url %}{{ page.url | escape }}{% else %}https://zenseiapp.com{% endif %}"/>
  <meta property="fb:app_id" content="1853764804894431" />
  <meta property="og:site_name" content="{% if page.title %}{{ page.title | escape }} {% else %}{{ site.title | escape }}{% endif %}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description | escape }} {% else %}{{ site.description | escape }}{% endif %}"/>

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} {% else %}{{ site.title | escape }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | escape }} {% else %}{{ site.description | escape }}{% endif %}" />
  <meta name="twitter:image" content="{% if page.img %}{{ page.img | escape }} {% else %}https://zenseiapp.com/zensei.png{% endif %}" />

  <!-- For Google+ -->
  <!-- <html itemscope itemtype="http://schema.org/Article"> -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title | escape }} {% else %}{{ site.title | escape }}{% endif %}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description | escape }} {% else %}{{ site.description | escape }}{% endif %}">
  <meta itemprop="image" content="{% if page.img %}{{ page.img | escape }} {% else %}https://zenseiapp.com/zensei.png{% endif %}">

  <title>{% if page.title %}{{ page.title | escape }} | Zensei {% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="apple-touch-icon" href="/assets/icon.png"/>
  <link rel="icon" href="assets/icon.png"/>

  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark|Source+Sans+Pro:400,600,700" rel="stylesheet">

  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
</head>
