
<br>
<div class="center-image">
<img src="/assets/img/guia-autocuidados.png" >
</div>
<br>
<br>

<div class="container-narrow center">
  <h2 style="font-weight: bold;">👇 Dejanos tu email aquí abajo y te enviaremos la Guía de Autocuidados Respiratorios. </h2>
  <form action="//zenseiapp.us15.list-manage.com/subscribe/post?u=a518c767a6166cb42b4e9b0f5&amp;id=0f18778a69" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="form-inline">
      <input type="email" value="" name="FNAME" class="name" id="mce-FNAME" placeholder="Tu nombre" required style="height: 50px; width: 150px; border-radius: 5px; border-width: 0px; padding: 10px; margin: 5px; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Tu email" required style="height: 50px; width: 150px; border-radius: 5px; border-width: 0px; padding: 10px; margin: 5px; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);">
      <input type="submit" value="RESERVAR" name="subscribe" id="mc-embedded-subscribe" class="button-install"  style="height: 50px; width: 140px; line-height: 30px;background: #1D86FF;color: #fff;border: 0;border-radius: 4px; font-size: 14px;font-weight: 600;cursor: pointer; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);" onclick="ga('send', 'event', 'post', 'click', 'guide-respiratory-health');">
      <a id="link" href="/assets/pdfs/Guía_de_autocuidados_de_salud_respiratoria.pdf" download hidden></a>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_a518c767a6166cb42b4e9b0f5_51ee4f143c" tabindex="-1" value="">
      </div>
    </div>
  </form>
</div>
<br>
<br>