<div markdown="1">
  Hola, somos el equipo de <a href="/">Zensei</a> y hemos construido este mapa de los síntomas respiratorios agregados a nivel poblacional que recolectamos en nuestra app de los últimos 7 días. 
  Nuestra app diario de salud respiratoria tiene como objetivo ayudar a pacientes respiratorios a controlar su salud respiratoria.
</div>
<br>
<div markdown="1">
  El equipo de Zensei lo formamos médicos, ingenieros, epidemiólogos digitales, diseñadores de productos de salud y expertos en comunicación. Estamos comprometidos con mejorar la calidad de vida de millones de pacientes respiratorios.
</div>
