<form method="POST" action="/search" data-search-form>
  <input type="search" name="q" id="q" placeholder="Busca sobre salud respiratoria..." data-search-input />
  <input type="submit" value="Buscar" />
</form>

<!-- Search results placeholder -->
<p data-search-found>
  <br>
  <span data-search-found-count></span> resultados encontrados para &ldquo;<span data-search-found-term></span>&rdquo;
</p>
<div data-search-found class="center section-cta">
  <br>
  <h2 class="post-title">
    <strong>Consigue respirar mejor sin esfuerzo</strong>
  </h2>
  <p>Descárgate nuestra app diario para personas que necesitan controlar su salud respiratoria</p>
  <div >
    <a class="install-button" title="¿Eres usuario de Android? Aquí puedes descargártela" onclick="ga('send', 'event', 'buttons', 'click', 'cta');" href="https://wgji.app.link/fIu9tK3PMO">
      <img style="display: inline" src="/assets/img/google-play-badge.png" height="80">
    </a>
    <a class="install-button" title="¿Eres usuario de iPhone? Aquí puedes descargártela" onclick="ga('send', 'event', 'buttons', 'click', 'cta');" href="https://wgji.app.link/fIu9tK3PMO" >
      <img style="display: inline" src="/assets/img/iphone-badge.svg" height="55">
    </a>
  </div>
</div>
<div data-search-results></div>


<!-- Search result template -->
<script type="text/x-template" id="search-result">
  <div>
    <h2>
      <a itemprop="url" href="##Url##">
        <span class="post-title" itemprop="name headline">##Title##</span>
      </a>
    </h2>
    <p itemprop="description">
      ##Description##
      <a href="##Url##">
        Leer Más
      </a>
    </p>
  </div>
</script>

  
  