<div class="container center padding-vertical">
  <p>¿Nos ayudas a que más gente empiece a cuidar su salud con Zensei? 🙂</p>
  <ul class="social-btns">
    <li><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={% if page.title %}{{ page.title | escape }} {% else %}{{ site.title | escape }}{% endif %}&url={% if page.title %}https://zenseiapp.com{{ page.url | escape }} {% else %}{{ site.url | escape }}{% endif %}" data-size="large">Tweet</a></li>
    <li><div class="fb-share-button" data-href="https://zenseiapp.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={% if page.url %}https://zenseiapp.com{{ page.url | escape }} {% else %}{{ site.url | escape }}{% endif %}&amp;src=sdkpreparse">Compartir</a></div></li>
    <li id="whatsappButton"><a class="whatsapp-share-button" href="whatsapp://send?text={% if page.url %}https://zenseiapp.com{{ page.url | escape }} {% else %}{{ site.url | escape }}{% endif %}"><img src="/assets/img/whatsapp.svg" alt="Whatsapp">Enviar por Whatsapp</a></li>
  </ul>
</div>
