<div class="bg-grey">
  <ul class="factors">
    <li style="height: 80px;">
      <img src="/assets/img/cta-icons-bis.png" height="80" style="display: inline-block;"/>
    </li>
    <li style="height: 60px;">
      <h2 class="cta__title" style="display: inline-block;"><strong id="copy-social">“Lo mejor que me pudo pasar en mi vida de Asmática 💕💕”</strong></h2>
    </li>
    <li style="height: 80px;">
       <img src="/assets/img/cta-icons.png" height="80" style="display: inline-block;"/>
    </li>
  </ul>
</div>