<div class="top-banner" id="topBanner">
	<div class="container">
		<!-- <a class="close" href="">&times;</a> -->
		<h2 class="post-title">
			<strong>Consigue Respirar Mejor</strong>
		</h2>
		<p>Remedios y consejos para evitar los horribles síntomas repiratorios con nuestra App Diario de Salud Respiratoria</p>	
		<a class="main-cta-top shake" href="/errores-salud-respiratoria" style="text-decoration:none; color: white"
      onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta');">QUIERO RESPIRAR MEJOR</a>
	</div>
</div>
