<script asyn>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-M3ZZKBZ':true});</script>

<!-- Google Analytics -->
<script type="text/javascript">
  tarteaucitron.user.analyticsUa = '{{ site.google_analytics }}';
  tarteaucitron.user.analyticsMore = function () {
    /* add here your optionnal ga.push() */
    ga('require', 'GTM-M3ZZKBZ');
  };
  (tarteaucitron.job = tarteaucitron.job || []).push('analytics');
</script>
<!-- /Google Analytics -->

<!-- Google Tag Manager -->
<script type="text/javascript">
  tarteaucitron.user.googletagmanagerId = 'AW-980556735';
  (tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');
</script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-980556735');
</script>

<!-- Event snippet for Install en Web conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script asyn>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-980556735/dF1DCL3nyYYBEL-3yNMD',
      'event_callback': callback
  });
  return false;
}
</script>
<!-- /Google Tag Manager -->

<!-- Hotjar -->
<script type="text/javascript">
  tarteaucitron.user.hotjarId = 1894478;
  tarteaucitron.user.HotjarSv = 6;
  (tarteaucitron.job = tarteaucitron.job || []).push('hotjar');
</script>
<!-- /Hotjar -->
