<div>
  <a
    class="install-button"
    title="¿Eres usuario de Android? Aquí puedes descargártela"
    onclick="ga('send', 'event', '{{ include.origin }}', 'click', '{{ include.label }}');"
    rel="noopener noreferrer"
    href="https://wgji.app.link/fIu9tK3PMO"
  >
    <img
      style="display: inline;"
      src="/assets/images/badges/google-play-badge-es.webp"
      height="80"
      width="207"
    />
  </a>
  <a
    class="install-button"
    title="¿Eres usuario de iPhone? Aquí puedes descargártela"
    onclick="ga('send', 'event', '{{ include.origin }}', 'click', '{{ include.label }}');"
    rel="noopener noreferrer"
    href="https://wgji.app.link/fIu9tK3PMO"
  >
    <img
      style="display: inline;"
      src="/assets/images/badges/app-store-badge-es.webp"
      height="80"
      width="207"
    />
  </a>
</div>
