<div class="hero-header" style="
  background-image: url('{{ page.image }}'); 
  background-repeat: no-repeat;
  background-size: cover;">  
  <div class="container-narrow center" id="fade-in">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="font-size:42px; font-weight: bold; color: #FFFFFF;">{{ page.title | escape }}</h1>
    <br>
    <h2 style="color: #FFFFFF;">
      {{ page.description | escape }}
    </h2>
    {% include common/app-badges.html origin="buttons" label="cta" %}
    <br>
    <br>
    <br>
  </div>
</div>
