<div class="top-banner" id="topBanner">
  <div class="container">
    <h2 class="post-title">
      <strong>Seguro que NO haces esto para cuidar de tu respiración</strong>
    </h2>
    <p>
      Si quieres prevenir la horrible tos, la falta de aire, los mocos o los estornudos. Te ayudamos.
    </p>
    <a
      class="action-btn shake"
      href="/"
      style="text-decoration: none; color: white;"
      onclick="ga('send', 'event', 'buttons', 'click', 'sticky-cta');"
      >QUIERO RESPIRAR MEJOR</a
    >
  </div>
</div>
