/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	padding-bottom: 10px
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


 #chart svg {
  	margin: 0px;
  	padding: 0px;
  	height: 300px;
  	width: 100%;
}

.tick {
	display: none;
}

.btn-group{
  display:inline;
}

.btn-group button{
  width:110px;
  height:30px;
  border:none;
  background-color:white;
  color:black;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.btn-group button:hover {
    background-color: lightgrey;
    color: white;
}

.segmented-control {
  display: table;
  width: 100%;
  margin: 2em 0;
  padding: 0;
}

.segmented-control__item {
  display: table-cell;
  margin: 0;
  padding: 0;
  list-style-type: none;
  }

 .segmented-control__input {
	  position: absolute;
	  visibility: hidden;
  }

  .segmented-control__label {
	  display: block;
	  border: 1px solid lightgrey;
	  text-align: center;  
	  cursor: pointer;
	  border-radius: 4px;
	  height:30px;
  }


  .segmented-control__label:hover {
  	background: #F5F5F5;

  }

  .segmented-control__input:checked + .segmented-control__label {
	  background: lightgrey;
	  color: #ffffff; 
  }

.content {
    display: none;
    position: absolute;
    width: 90%;
    left: 5%;
}
.segmented-control__input:checked ~ .content {
    display: block;
}
