/* Header */

.header {
  background-color: $white;
  color: $balticSea;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  z-index: 4;

  padding: 0 24px;
  height: 56px;
  width: 100vw;
  @media screen and (min-width: $tablet-bp) {
    height: 86px;
    width: 100%;
    padding: 20px 60px;
  }
}

.header-container {
  max-width: $max-width-content;
  margin: 0 auto;
}

.header .header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  @media screen and (max-width: ($tablet-bp - 1)) {
    justify-content: space-between;
    max-width: 250px;
  }
}

.header-container .header-logo {
  @extend .zensei-logo;
  @media screen and (max-width: $tablet-bp) {
    width: 49px;
    height: 29.4px;
  }
}

/* The navigation links */

.header .header-container nav {
  line-height: 30px;
  font-size: 15px;
}

.header .header-container nav a {
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  color: $balticSea;
  font-size: 1rem;
  @media screen and (max-width: $tablet) {
    font-size: 0.9375rem;
  }
}

.header .header-container nav a:visited {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: $balticSea;
}

.header .header-container nav a:hover {
  color: $asphalt;
}

.header .header-container nav a.selected {
  color: $balticSea;
  pointer-events: none;
  opacity: 1;
}

.header {
  & .action-btn,
  input[type="submit"] {
    @media all and (max-width: ($tablet-bp - 1)) {
      padding: 0 20px;
      font-size: 0.6rem;
    }
  }
}

/* Fixed version of the header */

body.fixed .header {
  position: fixed;
  top: 0;
}

/*HAMBURGUER-MENU*/

/* VARIABLES */
:root {
  --coal: #3a3a3a;
  --snow: #eceff1;
  --apple: #ff4d3a;
}

/* DEFAULT PROPERTIES */
header *,
header *::before,
header *::after {
  box-sizing: border-box;
  transition: 0.3s all;
  cursor: default;
}
header ul {
  margin: 0;
}

#menu-ctn {
  position: relative;
  height: 40px;
  background: $white;
  width: 44px;
  display: inline-block;
}
a {
  cursor: pointer;
}
#menu-cnt {
  opacity: 0;
  background: $white;
  padding: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  visibility: none;
  display: inline-block;
  width: 100vw;
  position: absolute;
  left: 0;
}

/* ELEMENT PROPERTIES */
.menu-bars {
  height: 4px;
  width: 30px;
  list-style: none;
  background: $balticSea;
  margin: 0 7px;
  position: relative;
  top: 18px;
  transition: 0.4s all ease-in;
}
.menu-item,
a.item-link {
  list-style: none;
  text-decoration: none;
  z-index: 1;
  background: transparent;
  width: 100%;
  display: inline-block;
  padding: 5px 0;

  & a,
  a:visited {
    color: $text;
    font-size: 1.0625rem;
  }
  & a:hover {
    color: $silver;
    text-decoration: none;
  }
}
a.soc-link {
  padding: 5px 20px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
hr {
  border: 0.3px solid #4f4f4f;
}
.crossed {
  background: $white;
}
.dropped {
  opacity: 1 !important;
  visibility: visible !important;
  position: inherit;
  left: 40vw;
}
.menu-bars::before,
.menu-bars::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  list-style: none;
  background: $balticSea;
}
.menu-bars::before {
  transform: translateY(-10px);
}
.menu-bars::after {
  transform: translateY(10px);
}
.crossed::before {
  animation: rotate-top-bar 0.4s forwards;
}
.crossed::after {
  animation: rotate-bottom-bar 0.4s forwards;
}
.hamburger::before {
  animation: rotate-top-bar-2 0.4s reverse;
}
.hamburger::after {
  animation: rotate-bottom-bar-2 0.4s reverse;
}

/* EVENT HANDLERS */
.menu-item:hover,
a.item-link:hover {
  color: var(--coal);
}
a.soc-link:hover {
  background: var(--snow);
  box-shadow: -4px 0 0 var(--apple);
}

/* ANIMATION KEYFRAMES */
@keyframes rotate-top-bar {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
@keyframes rotate-bottom-bar {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@keyframes rotate-top-bar-2 {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
@keyframes rotate-bottom-bar-2 {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
