/* Header */

.header {
  background-color: $white;
  height: 86px;
  color: $balticSea;
  top: -100px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  width: 100%;
  padding: 0;
  @media screen and (max-width: $tablet-bp) {
    height: 56px;
    width: 100vw;
  }
}

.header-container {
  max-width: $max-width-content;
  margin: 0 auto;
  @media screen and (max-width: $big-screen-bp) {
    margin: 0 $margin-horiz-desktop;
  }
  @media screen and (max-width: $tablet-bp) {
    margin: 0 $margin-horiz-mobile;
  }
}

.header .header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
      browser window, in order to prevent the content of the page from jumping up. */

.header-placeholder {
  height: 80px;
  display: none;
}

.header-content {
  display: flex;
  align-items: center;
  @media screen and (max-width: $tablet-bp) {
    justify-content: space-between;
    flex-grow: 1;
  }
}

/* Logo */

.header .header-container h1 {
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.header .header-container h1 span {
  color: $balticSea;
}

.header-container .logo {
  float: left;
  margin: 0.5rem 0;
}

/* The navigation links */

.header .header-container nav {
  line-height: 40px;
  float: right;
}

.header .header-container nav a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: $balticSea;
  font-size: 1rem;
  // font-family: "Palanquin Dark", sans-serif;
  @media screen and (max-width: $tablet-bp) {
    font-size: 0.9375rem;
  }
}

.header .header-container nav a:visited {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: $balticSea;
}

.header .header-container nav a:hover {
  opacity: 1;
}

.header .header-container nav a.selected {
  color: $balticSea;
  pointer-events: none;
  opacity: 1;
}

/* Fixed version of the header */

body.fixed .header {
  background-color: $white;
  padding: 20px 60px;
  height: 86px;
  color: $balticSea;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  @media screen and (max-width: $tablet-bp) {
    padding: 0 24px;
    height: 56px;
    width: 100vw;
  }
}

body.fixed .header .header-container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.fixed .header-placeholder {
  display: block;
}

body.fixed .header .header-container h1 {
  font-size: 24px;
  line-height: 30px;
}

body.fixed .header .header-container nav {
  line-height: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

body.fixed .header .header-container nav a {
  padding: 10px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {
  .header {
    height: 56px;
    width: 100vw;
    & .action-btn,
    input[type="submit"] {
      font-size: 0.7rem;
    }
  }

  .header .header-container .logo {
    float: none;
  }

  .header .header-container nav {
    line-height: 1;
    margin-left: 20px;
    margin-right: -20px;
  }

  .header .header-container nav a {
    font-size: 0.9375rem;
  }
}

/*HAMBURGUER-MENU*/

/* VARIABLES */
:root {
  --coal: #3a3a3a;
  --snow: #eceff1;
  --apple: #ff4d3a;
}

/* DEFAULT PROPERTIES */
header *,
header *::before,
header *::after {
  box-sizing: border-box;
  //   color: $asphalt;
  transition: 0.3s all;
  cursor: default;
}
header ul {
  margin: 0;
}
// header {
//   & a,
//   a:visited {
//     color: $white;
//     font-size: 1.375rem;
//     padding: 15px 0;
//   }
// }

#menu-ctn {
  position: relative;
  height: 40px;
  background: $white;
  width: 44px;
  display: inline-block;
}
a {
  cursor: pointer;
}
#menu-cnt {
  opacity: 0;
  //   transform: translate(16px, -10px) scale(0.7);
  background: $text;
  padding: 20px;
  box-shadow: 1px 2px 1px var(--coal);
  visibility: none;
  display: inline-block;
  width: 60vw;
}

/* ELEMENT PROPERTIES */
.menu-bars {
  height: 4px;
  width: 30px;
  list-style: none;
  background: $balticSea;
  margin: 0 7px;
  position: relative;
  top: 18px;
  transition: 0.4s all ease-in;
}
.menu-item,
a.item-link {
  list-style: none;
  text-decoration: none;
  z-index: 1;
  background: transparent;
  width: 100%;
  display: inline-block;
  padding: 5px 0;

  & a,
  a:visited {
    color: $white;
    font-size: 1.0625rem;
  }
  & a:hover {
    color: $silver;
    text-decoration: none;
  }
}
a.soc-link {
  padding: 5px 20px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
// a.soc-link:nth-of-type(1) {
//   margin-top: 12px;
// }
hr {
  border: 0.5px solid var(--coal);
}
.crossed {
  background: $white;
}
.dropped {
  opacity: 1 !important;
  //   transform: translate(16px, -10px) !important;
  visibility: visible !important;
  position: inherit;
  left: 40vw;
}
.menu-bars::before,
.menu-bars::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  list-style: none;
  background: $balticSea;
}
.menu-bars::before {
  transform: translateY(-10px);
}
.menu-bars::after {
  transform: translateY(10px);
}
.crossed::before {
  animation: rotate-top-bar 0.4s forwards;
}
.crossed::after {
  animation: rotate-bottom-bar 0.4s forwards;
}
.hamburger::before {
  animation: rotate-top-bar-2 0.4s reverse;
}
.hamburger::after {
  animation: rotate-bottom-bar-2 0.4s reverse;
}

/* EVENT HANDLERS */
.menu-item:hover,
a.item-link:hover {
  color: var(--coal);
}
a.soc-link:hover {
  background: var(--snow);
  box-shadow: -4px 0 0 var(--apple);
}

/* ANIMATION KEYFRAMES */
@keyframes rotate-top-bar {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
@keyframes rotate-bottom-bar {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@keyframes rotate-top-bar-2 {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
@keyframes rotate-bottom-bar-2 {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
