<header class="header-fixed center">

  <div class="header-limiter center">

    <a target="_blank" rel="noopener noreferrer" href="{{ "/" | relative_url }}"><div class="logo-alternative">zensei</div></a>

    <nav>
      <a target="_blank" rel="noopener noreferrer" href="/asma/">Asma</a>
      <a target="_blank" rel="noopener noreferrer" href="/epoc/">Epoc</a>
      <a target="_blank" rel="noopener noreferrer" href="/alergia/">Alergia</a>
      <a target="_blank" rel="noopener noreferrer" href="/gripe/">Gripe</a>
      <a target="_blank" rel="noopener noreferrer" href="/salud-respiratoria/">Salud Respiratoria</a>
      <a target="_blank" rel="noopener noreferrer" href="/salud-digital-respiratoria">Empresas</a>
    </nav>

  </div>

</header>