<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}"{% if page.layout == "blog" %} itemscope itemtype="http://schema.org/Blog"{% endif %}>
  
  {% include commons/head.html %}

  <body class="fixed">

  {% include commons/sticky-cta.html %}

  {% include commons/nav-header.html %}
  <div class="apply-overlay"></div>

  <div class="hero-header" style="
    background-image: url('{{ page.image }}'); 
    background-repeat: no-repeat;
    background-size: cover;">  
    <div class="container-narrow center" id="fade-in">
      <br>
      <br>
      <br>
      <h1 style="font-size:42px; font-weight: bold; color: #FFFFFF;">{{ page.title | escape }}</h1>
      <br>
      <h2 style="color: #FFFFFF;">
        {{ page.description | escape }}
      </h2>
      <div>
        <a
          class="install-button"
          title="¿Eres usuario de Android? Aquí puedes descargártela"
          onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
          target="_blank"
          rel="noopener noreferrer"
          href="https://wgji.app.link/fIu9tK3PMO"
        >
          <img
            style="display: inline;"
            src="/assets/img/google-play-badge.png"
            height="80"
          />
        </a>
        <a
          class="install-button"
          title="¿Eres usuario de iPhone? Aquí puedes descargártela"
          onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
          target="_blank"
          rel="noopener noreferrer"
          href="https://wgji.app.link/fIu9tK3PMO"
        >
          <img
            style="display: inline;"
            src="/assets/img/iphone-badge.svg"
            height="55"
          />
        </a>
      </div>
      <!-- <form id="mc-embedded-subscribe-form" class="validate" action="https://zenseiapp.us15.list-manage.com/subscribe/post?u=a518c767a6166cb42b4e9b0f5&amp;id=77df32060b" method="post" name="mc-embedded-subscribe-form" target="_blank">
        <input id="mce-EMAIL" class="required email" name="EMAIL" size="30" type="email" value="" placeholder="Tu email aquí." 
          style="height: 50px; width: 260px; border-radius: 5px; border-width: 0px; padding: 10px; margin: 5px; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);"/>
        <input id="mc-embedded-subscribe" class="action-btn shake" name="subscribe" type="submit" value="SI, QUIERO" 
          style="height: 50px; width: 140px; line-height: 30px;background: #1D86FF;color: #fff;border: 0;border-radius: 4px; font-weight: bold; font-size: 14px;font-weight: 600;cursor: pointer; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);" 
          onclick="ga('send', 'event', 'buttons', 'click', 'cta-landing');" />
      </form> -->
      <br>
      <br>
      <br>
    </div>
  </div>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {% include commons/footer.html %}
  {% include commons/lazyload.html %}

  <script src="/assets/js/hamburguer-menu.js"></script>

  </body>

</html>
