<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}"{% if page.layout == "blog" %} itemscope itemtype="http://schema.org/Blog"{% endif %}>
  
  {% include commons/head.html %}

  <body>

  {% include commons/sticky-cta.html %}
  {% include commons/nav-header.html %}
  <br>
  <br>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {% include commons/recommended-posts.html %}
  {% include commons/footer.html %}
  {% include commons/lazyload.html %}
  <!-- Search script - Must appear after template -->
  <script src="/assets/js/search.js"></script>
  <script src="/assets/js/hamburguer-menu.js"></script>

  </body>

</html>
