<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {% include commons/head.html %}

  <body>
    
    {% include city/landing-header.html %}

      <div class="container center">
        <div id="factor-card" class="center factor-card shake">
          <div id="slider">
            <div class="factor-card-content">
              <h1 class="factor-card-title" id="statement">🌼  Los niveles de polen esta semana son muy bajos para {{page.name}}.</h1>
            </div>
            <div class="factor-card-content" style="display:none;">
              <h1 class="factor-card-title" id="advice">🌼 En casa, utiliza el aspirador y bayetas húmedas.</h1>
            </div>
            <div class="factor-card-content" style="display:none;">
              <h1 class="factor-card-title" id="trend">🌼 Ningún cambio en los niveles de polen para la próxima semana para Madrid.</h1>
            </div>
          </div>
          <div class="factor-card-bottom">
            <span class="factor-card-updated-time">Datos actualizados hace 5 minutos</span>
            <span class="factor-card-powered">Powered by <a target="_blank" rel="noopener noreferrer" href="https://zenseiapp.com" title="Salud Digital para personas con problemas respiratorios"><img style="display: inline" src="/assets/img/logo-white.svg" height="15"></a></span>
          </div>
        </div>
        <br>
        <p style="color: #828282; padding-bottom: 10px;">👆 Pulsa la tarjeta para saber más</p>
      </div>

      <div class="container center">
        <ul class="heading">
          <li>
            <strong>¿Te cuesta respirar?</strong>
            <p style="color: #828282; padding-bottom: 10px;">Prueba nuestra App Diario para cuidar de tu Salud Respiratoria</p>
            <div>
              <a class="install-button" title="¿Eres usuario de Android? Aquí puedes descargártela" onclick="ga('send', 'event', 'buttons', 'click', 'cta');" target="_blank" rel="noopener noreferrer" href='https://play.google.com/store/apps/details?id=com.zenseiapp.medicaljournal'>
                <img style="display: inline" src="/assets/img/google-play-badge.png" height="80">
              </a>
              <a class="install-button" title="¿Eres usuario de iPhone? Aquí puedes descargártela" onclick="ga('send', 'event', 'buttons', 'click', 'cta');" target="_blank" rel="noopener noreferrer" href='https://itunes.apple.com/us/app/zensei-diario-de-salud/id1364876863?ls=1&mt=8' >
                <img style="display: inline" src="/assets/img/iphone-badge.svg" height="55">
              </a>
            </div>
          </li>
        </ul>
      </div>

    <script async type="text/javascript" src="/assets/js/factor-widget.js"></script>

    {% include commons/footer-old.html %}

   
  </body>

</html>