---
layout: default

---

<article
  class="post"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <br />
  <br />

  <header>
    <h1 class="post-title" itemprop="name headline">
      {{ page.subtitle | escape }}
    </h1>
    <p class="post-meta">
      ⏳ Actualizado el
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {% assign date_format = site.minima.date_format | default: "%b
        %-d, %Y" %} {% include utils/locale-dates.html
        date=page.date %} {{ day }} de {{ month | capitalize }} del {{
        year }}
      </time>
    </p>
  </header>
  <br />

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

<div class="container-narrow center">
  <div class="section-cta">
    <br />
    <h2 style="font-weight: bold;">
      Escríbenos y vemos si te podemos ayudar. Tú decides. 👇
    </h2>
  </div>
  <div class="center" style="margin-top: 1em">
    <a
      class="action-btn center"
      rel="noopener noreferrer"
      href="https://wgji.app.link/fIu9tK3PMO"
      onclick="ga('send', 'event', 'buttons', 'click', 'cta-footer');"
      >Si, quiero respirar mejor</a>
  </div>
</div>
