<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {% include commons/head.html %}

  <body>
    
    {% include commons/nav-header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="apply-overlay"></div> 
        {{ content }}
      </div>
    </main>
    {% include commons/recommended-posts.html %}
    {% include commons/footer.html %}
    {% include commons/lazyload.html %}
    <script src="/assets/js/hamburguer-menu.js"></script>

  </body>
</html>
