<!doctype html>
<html lang="es" itemscope itemtype="http://schema.org/WebSite">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>📵 Tratamiento para evitar la adicción al móvil de 5 días. GRATIS.</title>

<meta name="description" content="¡Deja de mirar la dichosa pantalla y recupera tu tiempo! ¿Buscas una solución?">
<meta name="author" content="📵 Digital Detox Program. Solución para prevenir la adicción al móvil e internet en 21 días y desde donde quieras.">

<meta name="keywords" content="como superar adicción al móvil, adiccion movil solucion, adiccion movil tratamiento, tratamiento adiccion al movil, adiccion a internet solucion, tratamiento adiccion nuevas tecnologias, como dejar el movil para estudiar, controlar adiccion al movil, adiccion al movil como quitarla, adiccion al movil superarla">


<!-- Mobile viewport optimization h5bp.com/ad -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- allows zoom -->
<meta name="theme-color" content="#f58888" />

<!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
<meta http-equiv="cleartype" content="on">


<link rel="shortcut icon" href="/assets/favicon.ico" />
<link rel="apple-touch-icon" href="/assets/icon.png"/>
<link rel="icon" href="/assets/icon.png"/>

<link rel="stylesheet" type="text/css" href="/assets/main.css" />
<!-- <link rel="stylesheet" href="https://grids.graaf.space/1170/12/16.css">--> <!-- Bootstrap Grid -->


<!-- For Facebook -->
<meta property="og:title" content="Zensei"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://zenseiapp.com/img/digital-detox-program/digital-detox-program.png"/>
<meta property="og:url" content="https://zenseiapp.com/es/digital-detox-program"/>

<meta property="og:site_name" content="📵 Digital Detox Program. La solución para prevenir adicción al móvil e internet."/>
<meta property="og:description" content="Programa preventivo a la adicción al móvil e internet. No te distraigas utilizando el celular. "/>

<!-- for Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="📵 Digital Detox Program. La solución para prevenir adicción al móvil e internet." />
<meta name="twitter:description" content="Programa preventivo a la adicción al móvil e internet. No te distraigas utilizando el celular. " />
<meta name="twitter:image" content="https://zenseiapp.com/img/digital-detox-program/digital-detox-program.png" />

<!-- For Google+ -->
<meta itemprop="name" content="📵 Digital Detox Program. La solución para prevenir adicción al móvil e internet.">
<meta itemprop="description" content="Programa preventivo a la adicción al móvil e internet. No te distraigas utilizando el celular.">
<meta itemprop="image" content="https://zenseiapp.com/img/digital-detox-program/digital-detox-program.png">

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
  #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
  #mergeRow-gdpr {margin-top: 20px;}
  #mergeRow-gdpr fieldset label {font-weight: normal;}
  #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style>

{% include google-analytics.html %}

</head>
<body>
<div class="hero-header" style="
  background-image: url('/img/digital-detox/pineapple-supply-co-150884-unsplash.jpg'); 
  background-size: cover;">  
  <div>
    <p></p>
    <a href="https://zenseiapp.com"><div class="logo">zensei</div></a>
  </div>
  <div class="container-narrow center" id="fade-in">
    <h1 style="font-size:42px"><strong>Detox Digital de 21 días.</strong></h1>
    <br>
    <h2>
      Resetea tus hábitos de uso del móvil e internet. Decide libremente como utilizas tu tiempo y prevén la adicción a las nuevas tecnologías.
    </h2>
    <br>
    <!-- Begin MailChimp Signup Form -->
    <form action="https://zenseiapp.us15.list-manage.com/subscribe/post?u=a518c767a6166cb42b4e9b0f5&amp;id=51ee4f143c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="form-inline">
        <input type="email" value="" name="FNAME" class="name" id="mce-FNAME" placeholder="Tu nombre" required style="height: 50px; width: 150px; border-radius: 5px; border-width: 0px; padding: 10px; margin: 5px; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Tu email" required style="height: 50px; width: 150px; border-radius: 5px; border-width: 0px; padding: 10px; margin: 5px; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);">
        <input type="submit" value="APUNTARME" name="subscribe" id="mc-embedded-subscribe" class="main-cta-top main-cta--blog"  style="height: 50px; width: 140px; line-height: 30px;background: #1D86FF;color: #fff;border: 0;border-radius: 4px; font-size: 14px;font-weight: 600;cursor: pointer; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);" onclick="ga('send', 'event', 'digital-detox', 'click', 'top');">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_a518c767a6166cb42b4e9b0f5_51ee4f143c" tabindex="-1" value="">
        </div>
      </div>
    </form>
    <br>
    <br>
  </div>
</div>

<br>
<br>
<div class="container-narrow">
  <div class="wrapper">
    <div class="post-content" aria-label="Content">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
          <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              {% include locale-dates.html date=page.date %}
              {{ day }} de {{ month }} de {{ year }}
            </time>
          </p>
        </header>
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>

<div class="container-narrow center padding-vertical">
  <p><b>Ayuda a tus amigos que están enganchados al móvil 👼<b></p>
  <ul class="social-btns">
      <li><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Digital Detox Program, deja de estar enganchado al móvil." data-url="https://zenseiapp.com/es/digital-detox-program?utm_source=digital-detox-program-thankyou&utm_medium=twitter&utm_campaign=landing_cta_bottom" data-size="large" @click="$emit('close')">Twittear</a></li>
      <li><div class="fb-share-button" data-href="https://zenseiapp.com/es/digital-detox-program?utm_source=digital-detox-program-thankyou&utm_medium=twitter&utm_campaign=landing_cta_bottom" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?src=sdkpreparse" @click="$emit('close')">Compartir</a></div></li>
      <li id="whatsappButton"><a class="whatsapp-share-button" href="whatsapp://send?text=Digital Detox Program, deja de estar enganchado al móvil https://zenseiapp.com/es/digital-detox-program/?utm_source=digital-detox-program-thankyou%26utm_medium=whatsapp%26utm_campaign=landing_cta_bottom"><img src="https://zenseiapp.com/assets/img/whatsapp.svg" alt="Whatsapp" @click="$emit('close')">Whatsappear</a></li>
  </ul>
</div>


{% include footer.html %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email'; /*
 * Translated default messages for the $ validation plugin.
 * Locale: ES
 */
$.extend($.validator.messages, {
  required: "Este campo es obligatorio.",
  remote: "Por favor, rellena este campo.",
  email: "Por favor, escribe una dirección de correo válida",
  url: "Por favor, escribe una URL válida.",
  date: "Por favor, escribe una fecha válida.",
  dateISO: "Por favor, escribe una fecha (ISO) válida.",
  number: "Por favor, escribe un número entero válido.",
  digits: "Por favor, escribe sólo dígitos.",
  creditcard: "Por favor, escribe un número de tarjeta válido.",
  equalTo: "Por favor, escribe el mismo valor de nuevo.",
  accept: "Por favor, escribe un valor con una extensión aceptada.",
  maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
  minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
  rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
  range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
  max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
  min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
<!-- jQuery 2.x does not support Internet Explorer 6, 7, or 8 -->

<script>
  function equalheight(container){

    var currentTallest = 0,
         currentRowStart = 0,
         rowDivs = new Array(),
         $el,
         topPosition = 0;
     $(container).each(function() {

       $el = $(this);
       $($el).height('auto')
       topPostion = $el.position().top;

       if (currentRowStart != topPostion) {
         for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
           rowDivs[currentDiv].height(currentTallest);
         }
         rowDivs.length = 0; // empty the array
         currentRowStart = topPostion;
         currentTallest = $el.height();
         rowDivs.push($el);
       } else {
         rowDivs.push($el);
         currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
      }
       for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
         rowDivs[currentDiv].height(currentTallest);
       }
    });
  }

  $(window).on('load', function() {
    equalheight('.factors li');
  });

  $(window).resize(function(){
    equalheight('.factors li');
  });
</script>

<div id="fb-root"></div>
<script type="text/javascript" src="/assets/js/app.js"></script>

</body>
</html>

<!-- /nonessential stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark%7CSource+Sans+Pro:400,600,700" rel="stylesheet">
