<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}"{% if page.layout == "blog" %} itemscope itemtype="http://schema.org/Blog"{% endif %}>
  
  {% include commons/head.html %}

  <body class="fixed">
    {% include commons/nav-header.html %}

    <main aria-label="Content" >
      {% include home/landing.html %} 

      <div class="apply-overlay"></div>
      
      {{ content }}
    </main>

    {% include commons/footer.html %}

    <script src="/assets/js/home.js"></script>
    <script src="/assets/js/hamburguer-menu.js"></script>

  </body>

</html>
