<!DOCTYPE html>
<html lang="es" itemscope itemtype="http://schema.org/WebSite">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>▷ Zensei - {{page.title}}</title>

    <meta name="description" content="{{page.description}}" />

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- allows zoom -->
    <meta name="theme-color" content="#f58888" />

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on" />

    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="apple-touch-icon" href="/assets/icon.png" />
    <link rel="icon" href="/assets/icon.png" />

    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <!-- <link rel="stylesheet" href="https://grids.graaf.space/1170/12/16.css">-->
    <!-- Bootstrap Grid -->

    <!-- For Facebook -->
    <meta
      property="og:title"
      content="{{page.title}} | Zensei Salud Digital Respiratoria"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="{% if page.image %}{{ page.image | absolute_url | escape }}{% else %}https://zenseiapp.com/assets/zensei.png{% endif %}"
    />
    <meta
      property="og:url"
      content="{% if page.url %}{{ page.url | absolute_url }}{% else %}https://zenseiapp.com{% endif %}"
    />

    <meta
      property="og:site_name"
      content="{{page.title}} | Zensei Salud Digital Respiratoria"
    />
    <meta property="og:description" content="{{page.seo_description}}" />

    <!-- for Twitter -->
    <meta
      name="twitter:site"
      content="{% if page.url %}{{ page.url | absolute_url }}{% else %}https://zenseiapp.com{% endif %}"
    />
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      content="{{page.title}} | Zensei Salud Digital Respiratoria"
    />
    <meta name="twitter:description" content="{{page.seo_description}}" />
    <meta
      name="twitter:image"
      content="{% if page.image %}{{ page.image | absolute_url | escape }}{% else %}https://zenseiapp.com/assets/zensei.png{% endif %}"
    />

    <!-- For Google+ -->
    <meta
      itemprop="name"
      content="{{page.title}} | Zensei Salud Digital Respiratoria."
    />
    <meta itemprop="description" content="{{page.seo_description}}" />
    <meta
      itemprop="image"
      content="{% if page.image %}{{ page.image | absolute_url | escape }}{% else %}https://zenseiapp.com/assets/zensei.png{% endif %}"
    />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link
      href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css">
      #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
        width: 100%;
      }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <style type="text/css">
      #mc-embedded-subscribe-form input[type="checkbox"] {
        display: inline;
        width: auto;
        margin-right: 10px;
      }
      #mergeRow-gdpr {
        margin-top: 20px;
      }
      #mergeRow-gdpr fieldset label {
        font-weight: normal;
      }
      #mc-embedded-subscribe-form .mc_fieldset {
        border: none;
        min-height: 0px;
        padding-bottom: 0px;
      }
    </style>

    {% include commons/google-analytics.html %}
  </head>
  <body>
    <div
      class="hero-header"
      style="
  background-image: url('{{ page.image }}'); 
  background-repeat: no-repeat;
  background-size: cover;"
    >
      <div>
        <a href="https://zenseiapp.com"><div class="logo">zensei</div></a>
      </div>
      <div class="container-narrow center" id="fade-in">
        <h1 style="font-size: 42px; font-weight: 700; color: #fff;">
          {{ page.title | escape }}
        </h1>
        <br />
        <h2 style="color: #fff;">
          {{ page.description | escape }}
        </h2>
        <br />
        <div>
          <a
            class="install-button"
            title="¿Eres usuario de Android? Aquí puedes descargártela"
            onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
            href="https://wgji.app.link/fIu9tK3PMO"
          >
            <img
              style="display: inline;"
              src="/assets/img/google-play-badge.png"
              height="80"
            />
          </a>
          <a
            class="install-button"
            title="¿Eres usuario de iPhone? Aquí puedes descargártela"
            onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
            href="https://wgji.app.link/fIu9tK3PMO"
          >
            <img
              style="display: inline;"
              src="/assets/img/iphone-badge.svg"
              height="55"
            />
          </a>
        </div>
        <br />
        <br />
      </div>
    </div>
    {% include commons/social-proof.html %}
    <br />
    <br />
    <div class="container-narrow">
      <div class="wrapper">
        <div class="post-content" aria-label="Content">
          <article
            class="post"
            itemscope
            itemtype="http://schema.org/BlogPosting"
          >
            <header class="post-header">
              <h2 class="post-title" itemprop="name headline">
                {{ page.subtitle | escape }}
              </h2>
            </header>
            <div class="post-content" itemprop="articleBody">
              {{ content }}
            </div>
          </article>
        </div>
      </div>
    </div>

    {% include commons/app-cta-landing.html %} {% include commons/footer.html %}

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
    ></script>
    <script type="text/javascript">
      (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = "EMAIL";
        ftypes[0] = "email";
        /*
         * Translated default messages for the $ validation plugin.
         * Locale: ES
         */
        $.extend($.validator.messages, {
          required: "Este campo es obligatorio.",
          remote: "Por favor, rellena este campo.",
          email: "Por favor, escribe una dirección de correo válida",
          url: "Por favor, escribe una URL válida.",
          date: "Por favor, escribe una fecha válida.",
          dateISO: "Por favor, escribe una fecha (ISO) válida.",
          number: "Por favor, escribe un número entero válido.",
          digits: "Por favor, escribe sólo dígitos.",
          creditcard: "Por favor, escribe un número de tarjeta válido.",
          equalTo: "Por favor, escribe el mismo valor de nuevo.",
          accept: "Por favor, escribe un valor con una extensión aceptada.",
          maxlength: $.validator.format(
            "Por favor, no escribas más de {0} caracteres."
          ),
          minlength: $.validator.format(
            "Por favor, no escribas menos de {0} caracteres."
          ),
          rangelength: $.validator.format(
            "Por favor, escribe un valor entre {0} y {1} caracteres."
          ),
          range: $.validator.format(
            "Por favor, escribe un valor entre {0} y {1}."
          ),
          max: $.validator.format(
            "Por favor, escribe un valor menor o igual a {0}."
          ),
          min: $.validator.format(
            "Por favor, escribe un valor mayor o igual a {0}."
          ),
        });
      })(jQuery);
      var $mcj = jQuery.noConflict(true);
    </script>
    <!--End mc_embed_signup-->
    <!-- jQuery 2.x does not support Internet Explorer 6, 7, or 8 -->

    <script>
      function equalheight(container) {
        var currentTallest = 0,
          currentRowStart = 0,
          rowDivs = new Array(),
          $el,
          topPosition = 0;
        $(container).each(function () {
          $el = $(this);
          $($el).height("auto");
          topPostion = $el.position().top;

          if (currentRowStart != topPostion) {
            for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
              rowDivs[currentDiv].height(currentTallest);
            }
            rowDivs.length = 0; // empty the array
            currentRowStart = topPostion;
            currentTallest = $el.height();
            rowDivs.push($el);
          } else {
            rowDivs.push($el);
            currentTallest =
              currentTallest < $el.height() ? $el.height() : currentTallest;
          }
          for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
            rowDivs[currentDiv].height(currentTallest);
          }
        });
      }

      $(window).on("load", function () {
        equalheight(".factors li");
      });

      $(window).resize(function () {
        equalheight(".factors li");
      });
    </script>

    <div id="fb-root"></div>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    {% include commons/lazyload.html %}
  </body>
</html>

<!-- /nonessential stylesheets -->
<link
  href="https://fonts.googleapis.com/css?family=Palanquin+Dark%7CSource+Sans+Pro:400,600,700"
  rel="stylesheet"
/>
