---
layout: blog
---
<br>
<br>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">

      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% include locale-dates.html date=page.last_modified_at %}
        ⏳ Actualizado el {{ day }} de {{ month }} de {{ year }}
      </time>
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ page.intro | markdownify }}
    {% include app-cta.html %}
    {% if page.toc %}
    <br>
      <div class="section-nav">
        <h1><b>🔖 Navega el contenido</b></h1>
        {% include toc.html html=content ordered=true h_min=2 h_max=3 %}
      </div>
    <br>
    {% endif %}
    {{ content | toc_only }}
  </div>
  <br>
  {% include app-cta.html %}
  <br>
  <ins class="adsbygoogle"
       style="display:block; text-align:center;"
       data-ad-layout="in-article"
       data-ad-format="fluid"
       data-ad-client="ca-pub-3078043656790242"
       data-ad-slot="5424376407"></ins>
  <br>
<!--   {% include disqus_comments.html %} -->
  <h1 class="post-title">Más artículos recomendados para tí</h1>
  <br>
  <br>
  {% include recommended-posts.html %}
  {% include share.html %}
  

</article>
