---
layout: blog
---
<br>
<br>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">

      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% include locale-dates.html date=page.date %}
        Actualizado el {{ day }} de {{ month }} de {{ year }}
      </time>
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <br>
  {% include lead-magnet.html %}
  <br>
  <br>
  <h1 class="post-title">Más artículos recomendados para tí</h1>
  <br>
  <br>

  {% include recommended-posts.html %}
  {% include share.html %}
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
