---
layout: blog
search_omit: true
---
<div class="home">
  <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  <br>
    <ul class="post-list">
      {% for post in site.tags[page.tag] %}
        <p>
          <a href="{{ post.category | replace: ' ' , '-'  | downcase | relative_url  }}" class="shake">
            <code class="highligher-rouge"><nobr>{{ post.category | escape  }}</nobr></code>&nbsp;
          </a>
        </p>
        <li itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <h2>
              <a itemprop="url" href="{{ post.url | relative_url }}">
                <span class="post-title" itemprop="name headline">{{ post.title | escape }}</span>
              </a>
            </h2>
            <p>
              <!-- <span class="post-meta">Por {{ post.author }}</span> · -->
              <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">⏳ Actualizado el {% include locale-dates.html date=post.last_modified_at %}{{ day }} de {{ month }} de {{ year }}</time>
            </p>
            <p itemprop="description">
              {{ post.description | escape }}
              <a href="{{ post.url | relative_url }}">
                Leer Más
              </a>
            </p>
        </li>
      {% endfor %}
    </ul>
    {% include app-cta-landing.html %}
</div>
