<div
  class="bckg-img--full-width home--footer__wave"
>
  <div class="home--footer__wave-content">
    <h1 class="home--footer__wave-title center" >¿Quieres respirar mejor?</h1>
    <div class="center">
      <a
      class="action-btn home--footer__button"
      href="{{ "/" | relative_url }}"
      onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
      >Descarga la app</a
      >
      <br />
      <a
      class="secondary-btn home--footer__button"
      href="{{ "/" | relative_url }}"
      onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
      >Contáctanos ></a
      >
    </div>
  </div>
</div>

<div class="home--footer__nav">
  <div>
    <a href="{{ "/" | relative_url }}"><div class="logo-alternative" style="margin-left: 8px;">zensei</div></a>

    <div class="home--footer__nav-container">
      <div style="width: 70%;">
        <h4 class="home--footer__nav-label">Más información</h4>
        <nav class="flex-column">
          <a href="/blog/">Contacto</a>
          <a href="/sobre-nosotros/">Prensa</a>
        </nav>

        <h4 class="home--footer__nav-label">Legal</h4>
        <nav class="flex-column">
          <a href="/blog/">Condiciones generales</a>
          <a href="/sobre-nosotros/">Política de privacidad</a>
        </nav>
      </div>
      <div>
        <h4 class="home--footer__nav-label">Síguenos en</h4>
        <nav class="flex">
          <a href="https://twitter.com/zensei_app">   
             <img
              style="width: 43px; margin-right: 23px;"
              src="/assets/img/twitter.svg"
              alt="Twitter"
            />
        </a>
          <a href="https://www.linkedin.com/company/zensei-app/">        
            <img
              style="width: 43px;"
              src="/assets/img/linkedin.svg"
              alt="Twitter"
            />
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
  integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css?family=Palanquin+Dark%7CSource+Sans+Pro:400,600,700"
  rel="stylesheet"
/>

<!-- jQuery - required but can be moved to the <head> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script async type="text/javascript" src="/assets/js/app.js"></script>
