<section class="home--landing">
  <div class="container-main home--landing__container">
    <div class="home--landing__content">
      <h1 class="home--landing__title">
        Mejora tu calidad de vida cuidando tu salud respiratoria
      </h1>
      <div class="home--landing__btn-container">
        <a class="action-btn" href="#web"
          >Déjanos contarte cómo
          <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
        </a>
        <br />
        <a
          class="secondary-btn"
          target="_blank"
          rel="noopener noreferrer"
          href="https://wgji.app.link/fIu9tK3PMO"
          onclick="ga('send', 'event', 'home', 'click', 'cta-landing');"
          ><span class="fas fa-download"></span> Descargar app</a
        >
      </div>
    </div>
    <div class="home--landing__img"></div>
  </div>
  <section class="home--landing__social-media" id="press">
    <div class="home--landing__social-media__content">
      <div style="background-image: url(/assets/img/social-media1.png);"></div>
      <div style="background-image: url(/assets/img/social-media2.png);"></div>
      <div style="background-image: url(/assets/img/social-media3.png);"></div>
      <div style="background-image: url(/assets/img/social-media4.png);"></div>
      <div style="background-image: url(/assets/img/social-media5.png);"></div>
      <div style="background-image: url(/assets/img/social-media6.png);"></div>
    </div>
  </section>
</section>
