<section class="home--landing">
  <div class="container-main home--landing__container">
    <div>
      <h1>
          Todo lo que necesitas para controlar y prevenir tus horribles síntomas respiratorios
      </h1>

      <div class="home--landing__btn-container only-for-desktop-up">
        <div>
          <a class="action-btn shake" href="#web">
            Déjanos contarte cómo
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
          </a>
          <a
            class="secondary-btn"
            rel="noopener noreferrer"
            href="/search/"
                >Cuidar mi respiración >
          </a>
        </div>
      </div>
    </div>

    <div class="home--landing__img">
      <img src="/assets/images/illustrations/woman-window.webp" />
    </div>

    <div class="home--landing__btn-container only-for-smaller-than-desktop">
      <div>
        <a class="action-btn shake" href="#web">
          Déjanos contarte cómo
          <span class="fa fa-chevron-right" aria-hidden="true"></span>
        </a>
        <a
          class="secondary-btn"
          rel="noopener noreferrer"
          href="/search/"
            >Cuidar mi respiración
        </a>
      </div>
    </div>
  </div>

  <section class="home--landing__media" id="press">
    <div class="home--landing__media__content" id="web">
      <p class="paragraph">
        Hablan de nosotros
      </p>
      <div>
        <a
          style="background-image: url(/assets/images/logos/rtve.webp);"
          rel="noopener noreferrer"
          href="https://www.youtube.com/watch?v=NQilk-irm2U&t=3s"
          alt="televisión española"
        ></a>
        <a
          style="background-image: url(/assets/images/logos/el-referente.webp);"
          rel="noopener noreferrer"
          href="https://www.elreferente.es/innovadores/zensei-app-que-ayuda-a-prevenir-problemas-respiratorios-34235"
          alt="El Referente"
        ></a>
        <a
          style="background-image: url(/assets/images/logos/cope.webp);"
          alt="COPE"
        ></a>
        <a
          style="background-image: url(/assets/images/logos/el-pais.webp);"
          rel="noopener noreferrer"
          href="https://elpais.com/ccaa/2018/03/03/madrid/1520107047_318938.html"
          alt="El país retina"
        ></a>
        <a
          style="background-image: url(/assets/images/logos/hipertextual.webp);"
          rel="noopener noreferrer"
          href="https://hipertextual.com/2018/04/zensei-app-ambiente"
          alt="Hipertextual"
        ></a>
        <a
          style="background-image: url(/assets/images/logos/loogic.webp);"
          rel="noopener noreferrer"
          href="https://loogic.com/zensei/"
          alt="Loogic"
        ></a>
      </div>
    </div>
  </section>
</section>
