<section class="home--landing">
  <div class="container-main home--landing__container">
    <div>
      <h1>
          Todo lo que necesitas para controlar y prevenir tus horribles síntomas respiratorios
      </h1>

      <div class="home--landing__btn-container only-for-desktop-up">
        <div>
          <a class="action-btn shake" href="#web">
            Déjanos contarte cómo
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
          </a>
          <a
            class="secondary-btn"
            rel="noopener noreferrer"
            href="https://wgji.app.link/fIu9tK3PMO"
            onclick="ga('send', 'event', 'home', 'click', 'cta-landing');"
            >PROBAR APP PARA CUIDAR TU RESPIRACIÓN >
          </a>
        </div>
      </div>
    </div>

    <div class="home--landing__img">
      <img src="/assets/illustrations/woman-window.png" />
    </div>

    <div class="home--landing__btn-container only-for-smaller-than-desktop">
      <div>
        <a class="action-btn shake" href="#web">
          Déjanos contarte cómo
          <span class="fa fa-chevron-right" aria-hidden="true"></span>
        </a>
        <a
          class="secondary-btn"
          rel="noopener noreferrer"
          href="https://wgji.app.link/fIu9tK3PMO"
          onclick="ga('send', 'event', 'home', 'click', 'cta-landing');"
          >PROBAR APP PARA CUIDAR TU RESPIRACIÓN
        </a>
      </div>
    </div>
  </div>

  <section class="home--landing__media" id="press">
    <div class="home--landing__media__content" id="web">
      <p class="paragraph">
        Hablan de nosotros
      </p>
      <div>
        <a
          style="background-image: url(/assets/img/media1.png);"
          rel="noopener noreferrer"
          href="https://www.youtube.com/watch?v=NQilk-irm2U&t=3s"
          alt="televisión española"
        ></a>
        <a
          style="background-image: url(/assets/img/media2.png);"
          rel="noopener noreferrer"
          href="https://www.elreferente.es/innovadores/zensei-app-que-ayuda-a-prevenir-problemas-respiratorios-34235"
          alt="El Referente"
        ></a>
        <a
          style="background-image: url(/assets/img/media3.png);"
          alt="COPE"
        ></a>
        <a
          style="background-image: url(/assets/img/media4.png);"
          rel="noopener noreferrer"
          href="https://elpais.com/ccaa/2018/03/03/madrid/1520107047_318938.html"
          alt="El país retina"
        ></a>
        <a
          style="background-image: url(/assets/img/media5.png);"
          rel="noopener noreferrer"
          href="https://hipertextual.com/2018/04/zensei-app-ambiente"
          alt="Hipertextual"
        ></a>
        <a
          style="background-image: url(/assets/img/media6.png);"
          rel="noopener noreferrer"
          href="https://loogic.com/zensei/"
          alt="Loogic"
        ></a>
      </div>
    </div>
  </section>
</section>
