<section class="container-main">
  <h3 class="title-medium home--slide4__title">
    ¿Cómo saber si Zensei es para mí?
  </h3>

  <section>
    <h4 class="title-small">Padeces síntomas con frecuencia</h4>
    <ul
      class="home--check-list__container home--slide4__list1-closed"
      id="symptoms-list"
    >
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Tos
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Estornudos
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Mocos
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Dolor de pecho
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Pitidos al
        respirar
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Insomnio
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Pérdida de olfato
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Picor de garganta
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Dificultad para
        respirar
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Reacciones
        cutáneas
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Tos seca
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Nariz taponada
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Congestión nasal
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Goteo nasal
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Ojos cansados
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Ojos hinchados
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Picor de ojos
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Ojos llorosos
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Mareos
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Tos con flemas
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Fiebre
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Dolor de cabeza
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Presión en el
        pecho
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Dolor de garganta
      </li>
    </ul>
    <div class="home--slide4__drop-down-btn">
      <div id="open-drop-down-btn">
        <button id="open-drop-down" class="secondary-btn home--button">
          Ver más
          <span class="fa fa-chevron-down" aria-hidden="true"></span>
        </button>
      </div>
      <div class="invisible" id="close-drop-down-btn">
        <button id="close-drop-down" class="secondary-btn home--button">
          Ver menos
          <span class="fa fa-chevron-up" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </section>

  <section>
    <h5 class="title-small">Tienes algún problema respiratorio</h5>
    <ul class="home--check-list__container ">
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Alergia
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> COVID-19
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Fibrosis pulmonar
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Asma
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Apnea del sueño
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Faringitis
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> EPOC
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Fibrosis quística
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Rinitis alérgica
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Gripe
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Bronquiolitis
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Neumonía
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Factores de riesgo
        en el trabajo
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Catarros
        frecuentes
      </li>
      <li class="paragraph">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Alergia al polen
      </li>
    </ul>
  </section>

  <div class="home--slide4__action-btn"">
    <a
      class="action-btn home--button "
      target="_blank"
      rel="noopener noreferrer"
      href="https://wgji.app.link/fIu9tK3PMO"
      onclick="ga('send', 'event', 'home', 'click', 'cta-symptoms');"
      >Quiero respirar mejor
      <span class="fa fa-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</section>
