<div
  class="bckg-img--full-width"
  style="
    background-image: url(/assets/illustrations/woman_wandering.png);
    background-size: 1300px;
    height: 700px;
  "
>
  <div class="container-main" style="margin-top: 57px;">
    <h1 class="title-medium">
      <strong>¿Te han diagnosticado una enfermedad respiratoria?</strong>
    </h1>
    <p class="paragraph">
      Un día te despiertas y te fatigas más de lo normal, o te vas a dormir y
      notas ciertos ruidos al respirar, o te pasas por un parque y estornudas
      varias veces.
      <br />
      Vas al médico y ¡pum!
      <br />
      Problema respiratorio.
    </p>
    <p class="paragraph">
      ¿Y ahora qué?
    </p>
  </div>
</div>
