<div class="container-main" style="margin-top: 160px;">
  <h1 class="title-medium center" style="margin-bottom: 40px;">
    <strong
      >Últimos artículos en nuestro blog de salud
      <br />
      respiratoria
    </strong>
  </h1>
  <p class="paragraph center">
    Escribimos sobre todo tipo de enfermedades respiratorias: Asma, EPOC,
    <br />
    Rinitis alérgica, Gripe, Covid, Fibrosis quística y muchas más.
  </p>
</div>

<div class="home--carousel-section" style="margin: 60px 0;">
  <div class="flex-center" style="width: 70px;">
    <img
      style="height: 46px;"
      src="/assets/img/chevron-left.svg"
      alt="Flecha ir izquierda"
    />
  </div>
  
  <div class="home--carousel-container" >
    <div class="home--carousel-article-card">
      <h5 class="home--carousel-article-card__title">Artículo Título</h5>
      <a
      class="secondary-btn home--carousel-article-card__btn"
      href="{{ "/" | relative_url }}"
      onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
      >Leer más ></a
    >
    </div>
    <div class="home--carousel-article-card">
      <h5 class="home--carousel-article-card__title">Artículo Título</h5>
      <a
      class="secondary-btn home--carousel-article-card__btn"
      href="{{ "/" | relative_url }}"
      onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
      >Leer más ></a
    >
    </div>
    <div class="home--carousel-article-card">
      <h5 class="home--carousel-article-card__title">Artículo Título</h5>
      <a
      class="secondary-btn home--carousel-article-card__btn"
      href="{{ "/" | relative_url }}"
      onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
      >Leer más ></a
    >
    </div>
  </div>

  <div class="flex-center" style="width: 70px; color: #e80f50;">
    <img
      style="height: 46px;"
      src="/assets/img/chevron-right.svg"
      alt="Flecha ir derecha"
    />
  </div>
</div>
