<section>
  <!-- <div class="reversed-in-desktop">
    <div class="bckg-img--full-width home--slide1__bckg-img"></div> -->
    <div class="container-main home--slide1__container">
      <div>
        <h3 class="title-medium" style="text-align: left;">
          ¿Te cuesta respirar? ¿No paras de tener síntomas respiratorios?
        </h3>
        <p class="paragraph">
          Imagínate que un día te despiertas y te falta el aire más de lo normal,
          <br />
          o te vas a dormir y notas pitidos al respirar o no paras de toser,
          <br />
          o te pasas por un parque y no paras de estornudar.
        </p>
        <p class="paragraph">
          Si te sientes así.
          <br />
          A lo mejor te podemos ayudar.
        </p>
        <p class="paragraph">
          Te contamos cómo.
        </p>
        <br/>
      </div>
      <div
        width="100%"
        height="450"
        class="youtube_player"
        videoID="Z4T1Ok_c2QI"
        rel="1"
        controls="1"
        showinfo="1"
        autoplay="0"
        mute="0"
      ></div>
    </div>

  <!-- </div> -->
</section>
