<div class="container-main" style="margin-top: 57px;">
    <h1 class="title-medium center" style="margin-bottom: 40px;">
      <strong>Identificamos las causas de tus síntomas respiratorios</strong>
    </h1>
    <p class="paragraph center" style="margin-bottom: 60px;">
      Utilizamos los últimos avances en modelos de medicina personalizada, computación 
      <br />
      epidemiológica y de inteligencia artificial y junto a tu perfil digital creamos un modelo
      <br />
      totalmente personalizado
      <br />
      Así <strong>ayudamos a ti y a tu médico a controlar, diagnosticar y tratar tu salud respiratoria.</strong>
    </p>
</div>
<img
style="width: 90%;"
src="/assets/illustrations/Macario-modelling.png"
alt="Representación del modelo predictivo de Zensei"
/>

  </div>
