<div class="container-main" style="margin-top: 75px;">
  <h1 class="title-medium center" style="margin-bottom: 30px;">
¿Cómo saber si Zensei es para mí?
  </h1>
  <p class="paragraph center">
    ¡Muy sencillo!
    <br />
    Si tienes algún tipo de <strong>problema respiratorio</strong> como asma, alergia, EPOC, fibrosis quística,      <br />
    apnea del sueño, COVID... 
    <br />
    O padeces algún <strong>síntoma con frecuencia</strong> como dolor en el pecho, mocos, tos, 
    <br />
    estornudos, pitidos al respirar...
    <br />
    Sin duda Zensei es para ti.
  </p>
  <div class="center">
    <a
    class="action-btn home--button center"
    target="_blank" rel="noopener noreferrer" href="{{ "/" | relative_url }}"
    onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
    >Quiero respirar mejor  <span class="fa fa-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</div>

