<div class="container-main home--slide5__container">
  <h1 class="title-medium home--slide5__title">
    Identificamos las causas de tus síntomas respiratorios
  </h1>
  <p class="paragraph center home--slide5__text2">
    Utilizamos los últimos avances en modelos de medicina personalizada,
    computación epidemiológica y de inteligencia artificial y junto a tu perfil digital
    creamos un modelo totalmente personalizado
    <br/>
    <br>
    Así
    <strong>te ayudamos a ti y a tu médico a controlar, diagnosticar y tratar tu salud
      respiratoria.</strong
    >
  </p>
  <div style="display: flex;">
    <img
      class="home--slide5__img2"
      src="/assets/illustrations/Macario-modelling.png"
      alt="Representación del modelo predictivo de Zensei"
    />
  </div>
</div>
