<div class="bckg-img--full-width home--slide1__bckg-img">
  <div class="container-main home--slide1__container">
    <h1 class="title-medium">
      ¿Te han diagnosticado una enfermedad respiratoria?
    </h1>
    <p class="paragraph">
      Un día te despiertas y te fatigas más de lo normal,
      <br />
      o te vas a dormir y notas ciertos ruidos al respirar,
      <br />
      o te pasas por un parque y estornudas varias veces.
    </p>
    <p class="paragraph">
      Vas al médico y ¡pum!
      <br />
      Problema respiratorio.
    </p>
    <p class="paragraph">
      ¿Y ahora qué?
    </p>
  </div>
</div>
