<section class="home--slide6__container">
  <h3 class="title-medium container-main">
    <span> Diseñamos tecnología con el único objetivo de ayudarte </span>
    <span>a cuidar de tu salud respiratoria</span>
  </h3>
  <div class="reversed-in-desktop">
    <div class="bckg-img--full-width home--slide6__bckg"></div>

    <div class="home--slide6__list container-main">
      <div class="home--slide6__item">
        <div class="flex-center">
          <div class="bullet-list"></div>
        </div>
        <p class="paragraph-center">
          <span>Desciframos</span> y personalizamos tu entorno sin interferir en
          tu día.
        </p>
      </div>
      <div class="home--slide6__item">
        <div class="flex-center">
          <div class="bullet-list"></div>
        </div>
        <p class="paragraph-center">
          Tu nos dices tus síntomas y <span>nosotros</span>
          <span>hacemos el resto.</span>
        </p>
      </div>
      <div class="home--slide6__item">
        <div class="flex-center">
          <div class="bullet-list"></div>
        </div>
        <p class="paragraph-center">
          Te damos <span>consejos</span> <span>personalizados</span> para que
          controles tu salud respiratoria.
        </p>
      </div>
    </div>
  </div>
</section>
