<div
  class="bckg-img--full-width"
  style="
    background-image: url(/assets/illustrations/woman&Macario.png);
    background-size: 1300px;
    height: 850px;
  "
>
  <div class="container-main" style="margin-top: 57px;">
    <h1 class="title-medium center">
      <strong
        >Diseñamos tecnología con el único objetivo de ayudarte
        <br />
        a cuidar de tu salud respiratoria
      </strong>
    </h1>
    <div style="display: flex; justify-content: space-around;">
      <div>
        <div class="flex-center">
          <div class="pink-circle"></div>
        </div>
        <p class="paragraph center">
          <strong>Desciframos</strong> y
          <br />
          personalizamos tu
          <br />
          entorno sin interferir
          <br />
          en tu día.
        </p>
      </div>
      <div>
        <div class="flex-center">
          <div class="pink-circle"></div>
        </div>
        <p class="paragraph center">
          Tu nos dices tus
          <br />
          síntomas y <strong>nosotros</strong>
          <br />
          <strong>hacemos el resto.</strong>
        </p>
      </div>
      <div>
        <div class="flex-center">
          <div class="pink-circle"></div>
        </div>
        <p class="paragraph center">
          Te damos <strong>consejos</strong>
          <br />
          <strong>personalizados</strong> para
          <br />
          que controles tu
          <br />
          salud respiratoria.
        </p>
      </div>
    </div>
  </div>
</div>
