<div class="container-main home--slide5__container">
  <h1 class="title-medium center home--slide5__title">
    Construimos tu perfil digital de salud respiratoria
  </h1>
  <p class="paragraph center home--slide5__text1">
    Con los datos del aire, tus hábitos, los factores sociales y tus síntomas
    <strong>creamos tu perfil</strong>
    <strong>único y personalizado</strong> sin que te cueste ningún esfuerzo.
  </p>
  <img
    class="home--slide5__img1"
    src="/assets/illustrations/health-digital-profile.png"
    alt="Perfil digital de salud respiratoria con Zensei"
  />
</div>
