<div class="container-image-left">
  <div
    class="half-width bckg-img--half-width"
    style="
      background-image: url(/assets/illustrations/shape2.png);
      background-position: right;
    "
  >
    <img
      style="width: 50%;"
      src="/assets/img/phone-alerts.png"
      alt="Zensei: Diario de salud respiratoria."
    />
  </div>

  <div class="half-width" style="margin-top: 40px;">
    <h1 class="title-medium">
      <strong>¿Sabes realmente todo lo que respiras?</strong>
    </h1>
    <p class="paragraph">
      El polen, los virus o la contaminación pueden afectar a tu salud
      respiratoria. Conoce de un solo vistazo la calidad del aire y
      <strong>podrás adelantarte para prevenir</strong> la tos, mocos, pitidos
      al respirar
    </p>
    <a
      class="secondary-btn home--button"
      href="{{ "/" | relative_url }}"
      onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
      >Quiero saber lo que respiro ></a
    >
  </div>
</div>
