<div class="home--slide2__container-img-left">
  <div class="home--slide2__container-text" style="margin-top: 40px;">
    <h3 class="title-medium" style="text-align: left;">
      ¿Sabes realmente todo lo que respiras?
    </h3>
    <p class="paragraph">
      El polen, los virus o la contaminación pueden afectar a tu salud
      respiratoria. Conoce de un solo vistazo la calidad del aire y
      <strong>podrás adelantarte para prevenir</strong> la tos, mocos, pitidos
      al respirar
    </p>
    <a
      class="secondary-btn home--button"
      style="padding: 0;"
      target="_blank"
      rel="noopener noreferrer"
      href="https://wgji.app.link/fIu9tK3PMO"
      onclick="ga('send', 'event', 'home', 'click', 'cta-factors');"
      >Quiero saber lo que respiro
      <span class="fa fa-chevron-right" aria-hidden="true"></span
    ></a>
  </div>

  <div
    class="home--slide2__phone-bckg-left"
    style="background-image: url(/assets/illustrations/shape2.png);"
  >
    <img
      class="home--slide2__phone-img"
      src="/assets/img/app-factors.png"
      alt="Vista Home con de la app Zensei."
    />
  </div>
</div>
