<div class="container-main" style="margin-top: 57px;">
    <h1 class="title-medium center" style="margin-bottom: 40px;">
      <strong>Construimos tu perfil digital de salud respiratoria</strong>
    </h1>
    <p class="paragraph center">
Con los datos del aire, tus hábitos, los factores sociales y tus síntomas <strong>creamos tu perfil</strong>   
   <br />
 <strong>único y personalizado</strong> sin que te cueste ningún esfuerzo.
    </p>
</div>
<img
style="width: 90%;"
src="/assets/illustrations/health-digital-profile.png"
alt="Perfil digital de salud respiratoria con Zensei"
/>

  </div>
