<section class="home--slide2__container-img-left">
  <div class="home--slide2__container-text">
    <h3 class="title-medium" style="text-align: left;">
      Diario de Salud Respiratoria: tu mejor aliado contra los síntomas
    </h3>
    <p class="paragraph">
      Dedicando <strong>solo 30 segundos al día</strong> podrás llevar un
      control de tus síntomas, su evolución y de la medicación. A ti te
      encantará. Y a tu médico también.
    </p>
    <a
      class="secondary-btn home--button"
      style="padding: 0;"
      target="_blank"
      rel="noopener noreferrer"
      href="https://wgji.app.link/fIu9tK3PMO"
      onclick="ga('send', 'event', 'home', 'click', 'cta-diary');"
      >¡Quiero mi diario!
      <span class="fa fa-chevron-right" aria-hidden="true"></span
    ></a>
  </div>
  <div>
    <div
      class="home--slide2__phone-bckg-left"
      style="background-image: url(/assets/illustrations/shape1.png);"
    >
      <img
        class="home--slide2__phone-img-left"
        src="/assets/img/app-diary.png"
        alt="Vista calendario de la app Zensei."
      />
    </div>
  </div>
</section>
