<div class="container-image-right">
  <div class="half-width" style="margin-top: 40px;">
    <h1 class="title-big">
      <strong>¿Cómo puedo manejar esta situación?</strong>
    </h1>
    <p class="paragraph">
      Controla tus síntomas, el aire que respiras y descubre consejos y remedios
      personalizados para que puedas cuidar de tu salud respiratoria.
    </p>
    <a
      class="action-btn home--button"
      href="{{ "/" | relative_url }}"
      onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
      >Quiero respirar mejor ></a
    >
  </div>
  <div
    class="half-width bckg-img--half-width"
    style="
      background-image: url(/assets/illustrations/shape1.png);
      background-position: left;
    "
  >
    <img
      style="width: 50%;"
      src="/assets/img/phone-alerts.png"
      alt="Zensei: Diario de salud respiratoria."
    />
  </div>
</div>
