<div class="container-main home--slide3__container" >
  <h1 class="title-medium center home--slide3__title">
    Vuestras historias
  </h1>
  <p class="paragraph center">
    Más de 5000 usuarios confían en nosotros para contarnos cómo es
    <br />
    su día a día con problemas respiratorios y cómo les ayuda la app. Nosotros
    aprendemos
    <br />
    de ellos y nos motiva a seguir mejorando.
  </p>
</div>

<div class="bckg-img--full-width home--carousel-bckg">
  <div class="home--carousel-section">
      <div class="flex-center" style="width: 70px;">
        <img
          style="height: 46px;"
          src="/assets/img/chevron-left.svg"
          alt="Flecha ir izquierda"
          />
      </div>
      
      <div class="home--carousel-container">
        <div class="home--carousel-provisional">
        <div class="home--carousel-opinion-card">
          <p class="home--carousel-opinion-card__content">
            Rápidos, fuentes fiables, profesionales
          </p>
          <p class="home--carousel-opinion-card__author">I sd</p>
        </div>
      </div>

        <div class="home--carousel-opinion-card">
          <p class="home--carousel-opinion-card__content">
            Muchas gracias por vuestros buenos consejos, los tendré en cuenta
            cuando salga a la calle. Un saludo afectuoso a todo el equipo de
            Zensei
          </p>
          <p class="home--carousel-opinion-card__author">Juan Talaya Milla</p>
        </div>
        <div class="home--carousel-provisional">
          <div class="home--carousel-opinion-card">
            <p class="home--carousel-opinion-card__content">
              Excelente... muy fácil de utilizar, muy clara y precisa en la
              información que entregan
            </p>
            <p class="home--carousel-opinion-card__author">Carola Krema</p>
          </div>
      </div>

      </div>

      <div class="flex-center" style="width: 70px; color: #e80f50;">
        <img
        style="height: 46px;"
          src="/assets/img/chevron-right.svg"
          alt="Flecha ir derecha"
          />
      </div>
    </div>
  </div>
</div>
