<div class="container-main home--slide3__container">
  <h2 class="title-big home--slide3__title">
    Vuestras historias
  </h2>
  <p class="paragraph-center">
    <span>
      Más de 5000 usuarios confían en nosotros para contarnos cómo es </span
    ><span>
      su día a día con problemas respiratorios y cómo les ayuda la app. Nosotros
      aprendemos de ellos y nos motiva a seguir mejorando.
    </span>
  </p>
</div>

<ul class="home--carousel-section recommended-posts__articles">
  <div class="home--carousel-container-wo-arrow">
    <!-- <li class="home--carousel-opinion-card">
      <p class="home--carousel-opinion-card__content">
        Muchas gracias por vuestros buenos consejos, los tendré en cuenta cuando
        salga a la calle. Un saludo afectuoso a todo el equipo de Zensei
      </p>
      <p class="home--carousel-opinion-card__author">Juan Talaya Milla</p>
    </li> -->
    <li class="home--carousel-opinion-card">
      <p class="home--carousel-opinion-card__content">
        Excelente... muy fácil de utilizar, muy clara y precisa en la
        información que entregan
      </p>
      <p class="home--carousel-opinion-card__author">Carola Krema</p>
    </li>
    <li class="home--carousel-opinion-card">
      <p class="home--carousel-opinion-card__content">
        Aplicación útil para llevar un diario de tu enfermedad, y para estar al
        tanto de las condiciones de contaminación, polen, etc, etc… de tu
        ciudad. Además tiene recordatorios que te ayudan a estar al tanto con
        medicamentos por ejemplo o con otras condiciones del ambiente en ciertos
        días de alarma alérgica o asmática
      </p>
      <p class="home--carousel-opinion-card__author">Irene Smile</p>
    </li>

    <li class="home--carousel-opinion-card">
      <p class="home--carousel-opinion-card__content">
        Porque es genial para seguir un control de mis crisis respiratorias y de
        asma
      </p>
      <p
        class="home--carousel-opinion-card__author"
        style="font-style: italic;"
      >
        Anónimo
      </p>
    </li>
    <!-- <li class="home--carousel-opinion-card">
      <p class="home--carousel-opinion-card__content">
        Rápidos, fuentes fiables, profesionales
      </p>
      <p class="home--carousel-opinion-card__author">I sd</p>
    </li> -->
    <li class="home--carousel-opinion-card">
      <p class="home--carousel-opinion-card__content">
        Gracias por toda la información que nos facilitais, para estos problemas
        cuanta más información y medio de prevenir mejor. Lo hacéis fenomenal.
      </p>
      <p class="home--carousel-opinion-card__author">Barbara Cilla</p>
    </li>
    <li class="home--carousel-opinion-card">
      <p class="home--carousel-opinion-card__content">
        Mi neumólogo me dijo que llevara un diario de síntomas, fue entonces que
        me di cuenta de que llevar uno a mano no me funcionaba, busqué una app y
        así fue como di con su aplicación. Me gustó mucho, llevo más o menos 6
        meses, pero me ha ayudado mucho. Me es más fácil hablar de mis síntomas
        con el médico y así seguir un mejor plan. Gracias por su aplicación, es
        de gran ayuda
      </p>
      <p class="home--carousel-opinion-card__author">Ana Pau Bustos Joyner</p>
    </li>

    <li class="home--carousel-opinion-card">
      <p class="home--carousel-opinion-card__content">
        Gracias a la App, ahora puedo entender más el problema de rinitis
        alérgica que tengo desde hace años y saber los niveles de polen en
        tiempo real.
      </p>
      <p
        class="home--carousel-opinion-card__author"
        style="font-style: italic;"
      >
        Anónimo
      </p>
    </li>
  </div>
</ul>
