<section class="home--slide2__container-img-right">
  <div class="home--slide2__container-text">
    <h2 class="title-big" style="text-align: left;">
      ¿Cómo puedes evitar los horribles síntomas respiratorios que no te dejan
      respirar bien?
    </h2>
    <p class="paragraph">
      Controlando tus síntomas, el aire que respiras y descubre consejos y
      remedios personalizados para que puedas cuidar de tu salud respiratoria.
    </p>
    <div class="only-for-tablet-up">
      <a
        class="action-btn home--button home--slide2__cta-btn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://wgji.app.link/fIu9tK3PMO"
        onclick="ga('send', 'event', 'home', 'click', 'cta-solution');"
        >PROBAR APP PARA CUIDAR TU RESPIRACIÓN
        <span class="fa fa-chevron-right" aria-hidden="true"></span
      ></a>
    </div>
  </div>
  <div class="home--slide2__container-img">
    <div class="home--slide2__phone-bckg1">
      <img
        class="home--slide2__phone-img-right"
        src="/assets/img/zensei_onboarding.png"
        alt="Vista de bienvenida de la app Zensei."
      />
    </div>
  </div>
  <div class="only-for-smaller-than-tablet">
    <a
      class="action-btn home--button home--slide2__cta-btn"
      target="_blank"
      rel="noopener noreferrer"
      href="https://wgji.app.link/fIu9tK3PMO"
      onclick="ga('send', 'event', 'home', 'click', 'cta-solution');"
      >PROBAR APP PARA CUIDAR TU RESPIRACIÓN
      <span class="fa fa-chevron-right" aria-hidden="true"></span
    ></a>
  </div>
</section>
