<section class="container-main home--slide5">
  <h1 class="title-big">
    <strong>
      <span
        >¿Cómo ayuda nuestra tecnología al cuidado de tu
        <span></span>
        salud respiratoria?
      </span>
    </strong>
  </h1>

  <h3 class="title-medium">
    Construimos tu perfil digital de salud respiratoria
  </h3>
  <div class="reversed-in-desktop">
    <div class="home--slide5__img1">
      <img
        src="/assets/illustrations/health-digital-profile.png"
        alt="Perfil digital de salud respiratoria con Zensei"
      />
    </div>

    <p class="paragraph-center home--slide5__text1">
      Con los datos del aire, tus hábitos, los factores sociales y tus síntomas
      <strong>creamos tu perfil</strong>
      <strong>único y personalizado</strong> sin que te cueste ningún esfuerzo.
    </p>
  </div>
</section>
