<div 
class="container-landing">
    <div class="half-width" style=" margin-top: 80px;height: 63vh;">
      <h1 class="title">
        <strong>Mejora tu calidad de vida cuidando tu salud respiratoria</strong>
      </h1>
      <a
        class="action-btn"
        href="/home#storytelling"
        onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
        >Déjanos contarte cómo ></a
      >
      <br />
  
      <a
        class="secondary-btn"
        href="{{ "/" | relative_url }}"
        onclick="ga('send', 'event', 'buttons', 'click', 'cta');"
        >Descarga la app</a
      >
    </div>
    <div class="half-width" style="height: 63vh;">
      <img
        src="/assets/illustrations/woman-window.png"
        height="500px"
        style="display: inline-block;"
      />
    </div>
  </div>
  