<div class="bckg-img--full-width home--slide6__bckg">
  <div class="container-main home--slide6__container">
    <h3 class="title-medium">
      Diseñamos tecnología con el único objetivo de ayudarte
      <br />
      a cuidar de tu salud respiratoria
    </h3>
    <div class="home--slide6__list">
      <div class="home--slide6__item">
        <div class="flex-center">
          <div class="bullet-list"></div>
        </div>
        <p class="paragraph center">
          <strong>Desciframos</strong> y personalizamos tu entorno sin
          interferir en tu día.
        </p>
      </div>
      <div class="home--slide6__item">
        <div class="flex-center">
          <div class="bullet-list"></div>
        </div>
        <p class="paragraph center">
          Tu nos dices tus síntomas y <strong>nosotros</strong>
          <strong>hacemos el resto.</strong>
        </p>
      </div>
      <div class="home--slide6__item">
        <div class="flex-center">
          <div class="bullet-list"></div>
        </div>
        <p class="paragraph center">
          Te damos <strong>consejos</strong>
          <strong>personalizados</strong> para que controles tu salud
          respiratoria.
        </p>
      </div>
    </div>
  </div>
</div>
