<div class="container-main" style="margin-top: 100px;">
  <h3 class="title-medium home--slide7__title">
    La ciencia detrás de Zensei
  </h3>
  <p class="paragraph center">
    <span
      >Nuestra tecnología está construida sobre los hombros de gigantes.
    </span>

    <span
      >Somos expertos en salud respiratoria, datos, epidemiología y diseño de
      experiencias de salud.</span
    >
  </p>
</div>

<ul class="home--carousel-section recommended-posts__articles">
  <div class="home--carousel-container-wo-arrow">
    <li class="home--carousel-article-card">
      <h5 class="home--carousel-article-card__title">
        Personalized medicine: Time for one-person trials
      </h5>
      <a
        class="secondary-btn home--carousel-article-card__btn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.nature.com/news/personalized-medicine-time-for-one-person-trials-1.17411"
        >Leer más <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </a>
    </li>

    <li class="home--carousel-article-card">
      <h5 class="home--carousel-article-card__title">
        Deep phenotyping for precision medicine
      </h5>
      <a
        class="secondary-btn home--carousel-article-card__btn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://onlinelibrary.wiley.com/doi/full/10.1002/humu.22080"
        >Leer más <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </a>
    </li>

    <li class="home--carousel-article-card">
      <h5 class="home--carousel-article-card__title">Digital Epidemiology</h5>
      <a
        class="secondary-btn home--carousel-article-card__btn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1002616"
        >Leer más <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </a>
    </li>

    <li class="home--carousel-article-card">
      <h5 class="home--carousel-article-card__title">
        A statistical model for the “N-of-1” study
      </h5>
      <a
        class="secondary-btn home--carousel-article-card__btn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.sciencedirect.com/science/article/abs/pii/089543569090139G"
        >Leer más <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </a>
    </li>

    <li class="home--carousel-article-card">
      <h5 class="home--carousel-article-card__title">
        Objective assessment of depressive symptoms with machine learning and
        wearable sensors data
      </h5>
      <a
        class="secondary-btn home--carousel-article-card__btn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ieeexplore.ieee.org/abstract/document/8273620"
        >Leer más <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </a>
    </li>

    <li class="home--carousel-article-card">
      <h5 class="home--carousel-article-card__title">
        Social Network Sensors for Early Detection of Contagious Outbreaks
      </h5>
      <a
        class="secondary-btn home--carousel-article-card__btn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0012948"
        >Leer más <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </a>
    </li>
  </div>
</ul>
